swagger: '2.0'
info:
  description: >-
    This API describes the RESTful interface to the Supplemental Data Service 
    Provider discovery service within the UTM System.  This service allows for 
    stakeholders to register and discovery data services that support UAS
    operations.
  version: v1
  title: UTM SDSP Service Discovery
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    url: 'https://utm.arc.nasa.gov/'
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'
  termsOfService: >

    A. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY
    WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING,
    BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO
    SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE
    SUBJECT SOFTWARE WILL BE ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF
    PROVIDED, WILL CONFORM TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN
    ANY MANNER, CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR
    RECIPIENT OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR
    ANY OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE. FURTHER,
    GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES REGARDING
    THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE, AND DISTRIBUTES
    IT "AS IS."


    B. Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS
    AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS
    WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE SUBJECT SOFTWARE
    RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES ARISING
    FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING
    FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY
    AND HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND
    SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY
    LAW. RECIPIENT''S SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE,
    UNILATERAL TERMINATION OF THIS AGREEMENT.
host: sdspdiscovery.arc.nasa.gov
basePath: /sdsdisc
schemes:
  - https
  - wss
tags:
  - name: A. Required Endpoints
    description: |
      The primary RESTful endpoints for using the SDSP Discovery service.
      
# https://swagger.io/docs/specification/authentication/oauth2/
# clientCredentials – Client Credentials flow (is called application in OpenAPI 2.0)      
securityDefinitions:
  sds_discovery_security:
    type: oauth2
    tokenUrl: https://thisserver.com/oauth/token
    flow: application
    scopes:
      'utm.nasa.gov_read.sdsp' : read all SDS Discovery data
      'utm.nasa.gov_write.sdsp' : modify SDS data that you own

security:
  - sds_discovery_security:
    - 'utm.nasa.gov_read.sdsp'

paths:
            
  /sds:
    post:
      tags:
        - A. Required Endpoints
      summary: Submit information regarding Supplemental Data Service Providers
      operationId: postSds
      description: Submit SDS provider for discovery.
      security:
         - sds_discovery_security:
           - utm.nasa.gov_write.sdsp
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: sds
          description: Description of the data service
          required: true
          schema:
            $ref: '#/definitions/Sds'
      responses:
        '201':
          description: Supplemental Data Service plan received.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        '403':
          description: Invalid ID supplied.  Fix authorization and retry.
        '429':
          description: Too many recent requests from you. Wait to make further submissions.

    put:
      tags:
        - A. Required Endpoints
      summary: Submit updates to an existing SDS Discovery entry
      operationId: putSds
      description: Allows for SDSP to update an previous plan submission.
      security:
         - sds_discovery_security:
           - utm.nasa.gov_write.sdsp
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Sds
          description: |
            Operational plan with the following properties:
              1. Contains a valid uss_operation_id.
              2. time_available_end value that is in the future.
              3. No date-time fields that are in the past are modified.
              4. Other rules for a USS Operation POST are satisfied.
          required: true
          schema:
            $ref: '#/definitions/Sds'
      responses:
        '200':
          description: Successful data request. Response includes requested data.
          schema:
            $ref: '#/definitions/Sds'
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
        '429':
          description: Too many recent requests from you. Wait to make further queries.
    get:
      tags:
        - A. Required Endpoints
      summary: Request information regarding SDSPs
      operationId: getSds
      description: Allows for querying for SDSPs.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: fields
          in: query
          description: >-
            The specific subset of fields to return. Comma separated list.
            Default will be all fields.
          required: false
          type: string
        - name: q
          in: query
          description: >
            Query with specific criteria.  <br/><br/>

            <b>example usage:</b><br/> ``` .../api/v1/sds?q=labels contains
            weather, time_available_begin gte 2016-10-02T00:00:00Z,
            coverage_area contains POINT (-122.056455 37.414336)  ``` ```
            .../api/v1/sds?q=labels contains weather&labels contains
            cow&auth_required eq false ``` <br/><br/> A series of binary
            operators and operands.

            - The lefthand side operands are the field names.

            - The righthand side (RHS) operands are *constants* of the
            corresponding type.

            - The allowed operators are dependent on the operand types.

                - **geometric operands:** the RHS input should be [OGC well-known text](http://en.wikipedia.org/wiki/Well-known_text), limited to point,
            linestring, and polygon types. Geometric-types operands may use
            `intersects`, `contains`, and `within`.  <br/>

            We also allow the non-standard bounding box as a geometric RHS. This
            is of the form BBOX(lower_left_long lower_left_lat, upper_right_lon
            upper_right_lat).  <br/>

                - **String operands** may use `eq`, `contains`, and `not`.  <br/>

                - **Numeric operands** may use `eq`, `lt`, `lte`, `gt`,
            `gte`, and `not`. <br/>

                - **Time operands** may use `eq`, `lt`, `lte`, `gt`,
            `gte`, and `not`.  RHS must be supplied in [ISO 8601
            format](https://en.wikipedia.org/wiki/ISO_8601)<br/>

                - **String *array* operands** may only use `contains`. The RHS string will
                be checked for partial matches against all strings in the LHS array. The RHS
                string has a minimum length of three characters.
                
                - **Boolean operands** may only use `eq`.


            If multiple criteria are specified, they are considered as an *AND*
            operation.  Multiple criteria may be provided via multiple q
            parameters. <br/>
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            A valid field name to use for sorting records. If multiple fields
            are provided, the sorting is based on the ordered priorty of that
            list.
          required: false
          default: time_submitted
          type: string
        - name: sort_increasing
          in: query
          description: >-
            For optional use with the 'sort' parameter. If 'sort' is not
            provided, then 'sort_increasing' will be ignored. Boolean value.  If
            multiple fields are provided in the 'sort' paramenter, this boolean
            value will apply to all of them.
          required: false
          default: true
          type: boolean
        - name: limit
          in: query
          description: The maximum number or records to return.
          required: false
          type: integer
          default: 10
          format: int32
        - name: offset
          in: query
          description: The index from which to begin the list of returned records.
          required: false
          type: integer
          default: 0
          format: int32
      responses:
        '200':
          description: Successful data request. Response includes requested data.
          schema:
            $ref: '#/definitions/Sds'
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
        '429':
          description: Too many recent requests from you. Wait to make further queries.
definitions:
  Sds:
    type: object
    description: >-
      A contiguous area within which a USS has committed to providing services
      for UAS operations.  The specific level of services provided may be
      contained within the data provided from here in combination with data
      provided directly from the USS.  In the future, the information provided
      by this object may include more specific information about the services
      provided by the USS or the types of UAS operations that are supported by
      this USS Operation.
    required:
      - sds_name
      - sds_provider
      - time_available_begin
      - time_available_end
      - coverage_area
    properties:
      sds_id:
        description: >-
          A unique identifier assigned by the discovery service upon successful
          submission.
        type: string
        format: uuid
        readOnly: true
        maxLength: 36
        minLength: 36
      sds_provider:
        description: The name of the entity providing data service.
        type: string
        maxLength: 100
        example: 'Wonder Weather, Inc.'
      sds_name:
        description: A name for this SDSP.
        type: string
        maxLength: 100
        example: Super Weather Service
      time_submitted:
        description: >-
          The time at which the submission of this SDSP was received at this
          discovery service.  Only modifiable by discovery service. ISO 8601
          compliant: YYYY-MM-DDTHH:mm:ssZ
        type: string
        format: date-time
        maxLength: 20
        minLength: 20
        readOnly: true
        externalDocs:
          description: ISO 8601 wikipedia page
          url: 'https://en.wikipedia.org/wiki/ISO_8601'
      time_available_begin:
        description: >-
          The time at which the SDSP will begin available to provide services
          Note that the SDSP may be availble for other information
          (registration, contact data, service descriptions, etc.) prior to 
          this time.  time_available_begin must be earlier than
          time_available_end.  time_available_begin cannot be more than one
          month later than time_submitted. ISO 8601 compliant:
          YYYY-MM-DDTHH:mm:ssZ
        type: string
        format: date-time
        maxLength: 20
        minLength: 20
        externalDocs:
          description: ISO 8601 wikipedia page
          url: 'https://en.wikipedia.org/wiki/ISO_8601'
      time_available_end:
        description: >-
          The time at which the SDSP will cease providing services.
          time_available_end must be later than time_available_begin. ISO 8601
          compliant: YYYY-MM-DDTHH:mm:ssZ
        type: string
        format: date-time
        maxLength: 20
        minLength: 20
        externalDocs:
          description: ISO 8601 wikipedia page
          url: 'https://en.wikipedia.org/wiki/ISO_8601'
      coverage_area: 
        $ref: 'https://api.swaggerhub.com/domains/utm/geojson/v1#/definitions/Point'
      time_last_modified:
        description: |-
          The last time there was an update to the data regarding this SDSP.
           Only modifiable by discovery service.
           ISO 8601 compliant: YYYY-MM-DDTHH:mm:ssZ
        type: string
        format: date-time
        maxLength: 20
        minLength: 20
        readOnly: true
        example: '2017-05-25T21:24:41Z'
        externalDocs:
          description: ISO 8601 wikipedia page
          url: 'https://en.wikipedia.org/wiki/ISO_8601'
      contact_email:
        description: An optional contact email address for the SDS.
        type: string
        format: email
        maxLength: 40
        default: Not provided
      contact_phone:
        description: An optional contact number for the SDS.
        type: string
        format: phone
        example: 650-555-5555 or +1-510-555-2222
        maxLength: 30
        default: Not provided
      auth_required:
        description: >-
          Boolean field designating if authentication and/or authorization are
          required to use this supplemental data service.  A 'false' value for
          this field implies anonymous, complete access to the data service.
        type: boolean
        default: false
      auth_description:
        description: >-
          If authentiation or authorization are required, this field could be 
          used by the SDSP to briefly describe what is required for access.
        type: string
        maxLength: 200
      sdsp_informational_url:
        description: An optional website URL for the SDS intended for human use.
        type: string
        format: url
        maxLength: 1000
      sdsp_openapi_url:
        description: >-
          An optional URL for the SDSP to supply an OpenAPI specification of its
          interface. This field is highly recommended to aid in standardizing
          access to UTM data services.
        type: string
        format: url
        maxLength: 1000
      sdsp_registration_url:
        description: An optional URL for users to register to use this data service.
        type: string
        format: url
      labels:
        description: >
          An array of short, descriptive tags to aid users in searching for
          supplementary data services.
        type: array
        maxItems: 10
        uniqueItems: true
        items:
          type: string
          maxLength: 20
          minLength: 3
        example: ' weather, winds, precipitation, streaming_data'
      notes:
        type: string
        maxLength: 1000
        description: >-
          Any additional free text that would aid consumers of the service
          discovery API in understanding this data service.
        default: NOT PROVIDED
        example: This data service excels at servicing data.
    example:
      sds_id: 00000000-0000-4444-8888-FEEDDEADBEEF
      sds_provider: 'Wonder Weather, Inc.'
      sds_name: WW UTM Weather Service
      time_submitted: '2017-05-20T07:0:20Z'
      time_available_begin: 2017-06-01T00:00:00.000Z
      time_available_end: 2018-06-01T00:00:00.000Z
      coverage_area:
        type: Polygon
        coordinates:
          - - - -122.06382530000002
              - 37.4090697
            - - -122.05094253233
              - 37.4193006277
            - - -122.03276206976
              - 37.41929920176
            - - -122.06382530000002
              - 37.4090697
          - - - -122.062176579
              - 37.40968041145
            - - -122.05187056889
              - 37.41786527236
            - - -122.03732647634
              - 37.41786440108
            - - -122.062176579
              - 37.40968041145
      time_last_modified: '2017-05-20T07:0:20Z'
      contact_email: info@wwinc.breeze
      contact_phone: 650-555-5555
      auth_required: false
      auth_description: API open for anonymous access.
      sdsp_informational_url: 'http://wwinc.breeze/info.html'
      sdsp_openapi_url: 'http://wwinc.breeze/api'
      sdsp_registration_url: null
      labels:
        - weather
        - precipitation
        - winds
        - streaming_data
      notes: >-
        We provide free streaming wind and precipitation data via an elegant
        API.