---
swagger: "2.0"
info:
  description: "This API describes the RESTful interface from a UAS Service Supplier (USS) to the Flight."
  version: "v2"
  title: "UTM Research Platform, FIMS-USS Interface"
  contact:
    name: NASA Ames Research Center, Aviation Systems Division
    url: https://utm.arc.nasa.gov/
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: https://ti.arc.nasa.gov/opensource/nosa/
  termsOfService: |

    A. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL BE ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF PROVIDED, WILL CONFORM TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN ANY MANNER, CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR RECIPIENT OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR ANY OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE. FURTHER, GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES REGARDING THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE, AND DISTRIBUTES IT "AS IS."

    B. Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE SUBJECT SOFTWARE RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES ARISING FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY AND HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY LAW. RECIPIENT''S SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE, UNILATERAL TERMINATION OF THIS AGREEMENT.

host: "tmiserver.arc.nasa.gov"
basePath: "/fims"
schemes:
- https
- wss
tags: # Have to add 'A' 'B' etc since ordering isn't respected in SwaggerUI.
- name: A. Required Endpoints
  description: Primary RESTful endpoints for operators accessing FIMS
  externalDocs:
    url: "https://tmiserver.arc.nasa.gov/fims/api/"
    description: NASA FIMS server generated from this API specification.
- name: B. FIMS Notifications and Alerts
  description: |
    FIMS sends Alerts and other notifications to USS's by using the USS Required API's POST alertMessages. FIMS subscribes to USS Discovery to learn about the USS Network.

- name: C. Data Types
  description: Psuedo endpoints used for the documentation of the data schema
- name: D. Version
  description: Get the API version

securityDefinitions:
  application:
    type: oauth2
    # Should be updated to the Token URL of your OAuth provider.
    tokenUrl: http://fims_authz.utm.nasa.gov/oauth/token
    flow: application
    scopes:
      write: allows modifying resources
      read: allows reading resources
      
responses:
  WRONG_PROTOCOL:
    description: A RESTful call was made to this endpoint but this is not a REST endpoint. Do not use this endpoint for REST calls.

paths:

            
  /operations:
    post:
      tags:
        - A. Required Endpoints
      summary: Submit an operation to FIMS
      security:
      - application:
        - write
      operationId: postOperation
      description: Allows for submission of an operation plan to FIMS.

      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: operation
          description: |  #moving everything down a like to test
              Operational plan to add
          required: true
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/Operation'
      responses:
        201:
          description: Operation Plan request received.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        400:
          description: "Bad request. Typically validation error. Fix your request and retry."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        403:
          description: "Invalid ID supplied.  Fix authorization and retry."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'

  /operations/{gufi}:
    put:
      tags:
        - A. Required Endpoints
      summary: Modify an operation
#      security:
#        - OauthSecurity: [ ]
      description: Allows for modifying of an operation plan in FIMS.
      operationId: updateOperation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - in: path
        name: gufi
        description: "GUFI of the operation to update"
        required: true
        type: string
        format: uuid
      - in: body
        name: operation
        description: Operation updates
        required: true
        schema:
          $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/Operation'
      responses:
        200:
          description: "Operation updated."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        400:
          description: "Bad request. Typically validation error. Fix your request and retry."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        403:
          description: "Unauthorized user."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        404:
          description: "Operations not found."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'

  /positions:
    post:
      tags:
        - A. Required Endpoints
      summary: Submit position report
      description: Allows for submission of position data related to a particular operation.
      operationId: postPosition
      responses:
        201:
          description: "Position posted successfully."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        400:
          description: "Invalid message. Please fix and retry."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
      parameters:
      - in: body
        name: position
        description: Position to submit
        required: true
        schema:
          $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/Position'
  
  /utm_messages:
    post:
      tags:
      - "A. Required Endpoints"
      summary: "Submit alert to FIMS"
      description: "Allows posting of a message to FIMS."
      operationId: "postMessage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "Message object being sent"
        required: true
        schema:
          $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMMessage'
      responses:
        201:
          description: "Returns message ID if received successfully."
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        400:
          description: "Invalid message. Please fix and retry."

        403:
          description: "Unauthorized user."

  /schema/Operation:
    get:
      tags:
        - C. Data Types
      summary: Operation schema
      description: |
        Illustrates an operation in JSON. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint.
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/Operation'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"

  /schema/Point:
    get:
      tags:
       - C. Data Types
      summary: Point schema
      description: |
        Illustrates an Point in JSON. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint.
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/geojson/v1#/definitions/Point'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"


  /schema/LineString:
    get:
      tags:
        - C. Data Types
      summary: LineString schema
      description: |
        Illustrates an LineString in JSON. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint.
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/geojson/v1#/definitions/LineString'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"

  /schema/Polygon:
    get:
      tags:
        - C. Data Types
      summary: Polygon schema
      description: |
        Illustrates an Polygon in JSON. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint.
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/geojson/v1#/definitions/Polygon'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"

  /schema/AlertMessage:
    get:
      tags:
        - C. Data Types
      summary: Alert Message schema
      description: |
        Illustrates the FIMS Alert Message. FIMS may send out Alert Messages from time to time. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint
      operationId: alertMsgUsingGET
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMMessage'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"

  /schema/ConstraintMessage:
    get:
      tags:
        - C. Data Types
      summary: Constraint Message schema
      description: |
        Illustrates the FIMS Constraint Message. FIMS will send out a Constraint Message when a new constraint is put in place. This endpoint is not intended for use.

        Note that if you are viewing this in a SwaggerUI, the "try it out" feature will not work since this is not a RESTful endpoint
      operationId: constraintMsgUsingGET
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://api.swaggerhub.com/domains/utm/commons/v1#/definitions/UTMRestResponse'
        410:
          $ref: "#/responses/WRONG_PROTOCOL"



x-azure-api-id: "sh-1469571953760"