swagger: '2.0'
info:
  version: 'v3'
  title: Public Safety USS
  description: A USS with the Public Safety role implements this API in addition to the base USS API. 
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    url: 'https://utm.arc.nasa.gov/'
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'
  termsOfService: >

    A. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY
    WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING,
    BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO
    SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE
    SUBJECT SOFTWARE WILL BE ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF
    PROVIDED, WILL CONFORM TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN
    ANY MANNER, CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR
    RECIPIENT OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR
    ANY OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE. FURTHER,
    GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES REGARDING
    THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE, AND DISTRIBUTES
    IT "AS IS."


    B. Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS
    AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS
    WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE SUBJECT SOFTWARE
    RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES ARISING
    FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING
    FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY
    AND HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND
    SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY
    LAW. RECIPIENT''S SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE,
    UNILATERAL TERMINATION OF THIS AGREEMENT.
host: publicsafety.arc.nasa.gov
basePath: /pubsafe
schemes:
  - https

securityDefinitions:
  basicAuth:
    type: basic
security:
    - basicAuth: []

paths:
  /uas/operation/{uvin}:
    get:
      description: Returns information on vehicle
      parameters:
        - in: path
          name: "uvin"
          type: "string"
          required: true
          description: "specifies the vehicle id"
        - name: "lat"
          in: "query"
          description: "Latitude of point for Geographic search. Approximate position of the vehicle."
          required: true
          maximum: 90.0
          minimum: -90.0
          type: "number"
          format: "double"
        - name: "lon"
          in: "query"
          description: "Longitude of point for Geographic search. Approximate position of the vehicle."
          required: true
          type: "number"
          maximum: 180.0
          minimum: -180.0
          format: "double"
      
      responses:
        200:
          description: "Successfully returned uvin and its associated operator information" 
          schema:
            $ref: '#/definitions/VehicleOperationData'
        401:
          description: "Unauthorized"
          schema:
            $ref: "https://api.swaggerhub.com/domains/utm/commons/v3#/definitions/UTMRestResponse"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"        
                  
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
        503:
          description: Service Unavailable 
          schema:
            type: object
            properties:   
              message:
                type: string
                
  /uas/operations:
    get:  
      description: Returns all operations around the point of reference 
      parameters:
        - name: "lat"
          in: "query"
          description: "Latitude of point for Geographic search. Approximate position of the vehicle."
          required: true
          maximum: 90.0
          minimum: -90.0
          type: "number"
          format: "double"
        - name: "lon"
          in: "query"
          description: "Longitude of point for Geographic search. Approximate position of the vehicle."
          required: true
          type: "number"
          maximum: 180.0
          minimum: -180.0
          format: "double"
        - name: "altitude_gps_wgs84_ft"
          type: "number"
          required: true
          in: "query"
          format: "double"
          description: "The altitude as measured via a GPS device on the aircraft. Units
          in feet using the WGS84 reference system"
        - name: "time"
          in: "query"
          required: true
          description: "Give me all the operations in this area as of this time"
          type: "string"
          format: "date-time"
          minLength: 20
          maxLength: 25
      
      responses:
        200:
          description: "Needs clarification" 
          schema:
            type: "array"
            items:
              $ref: 'https://api.swaggerhub.com/domains/utm/commons/v3#/definitions/Operation'  
        401:
          description: "Unauthorized"
          schema:
            $ref: "https://api.swaggerhub.com/domains/utm/commons/v3#/definitions/UTMRestResponse"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"        
                  
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
      
                
definitions:
  VehicleOperationData:
     type: object
     properties:
      vehicle_type:
        type: string
      owner_name:
        type: string
      owner_contact:
        type: string
        format: phone
        maxLength: 100
      n_number:
        type: string
        maxLength: 100
      faa_registration-number:
        type: string
        maxLength: 100
      uss_name:
        type: string
        maxLength: 250
        minLength: 1
        example: "utmbeta.arc.nasa.gov"
      uss_instance_id:
        type: string
        format: uuid
        maxLength: 36
        minLength: 36
        example: "00000000-0000-0000-0000-000000000000"
      gufi:
        type: string
        format: uuid
        maxLength: 36
        minLength: 36
        example: "00000000-0000-0000-0000-000000000000" 
      operation_state:
         type: string
         example: "ROGUE"
      additional_details:
         type: string
         example: "Extra details"