---
swagger: "2.0"
info:
  description: "Temp sandbox"
  version: "v2fix"
  title: "UTM Research Platform, FIMS-USS Interface"
  termsOfService: "\nA. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED \"AS IS\" WITHOUT\
    \ ANY WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING,\
    \ BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO SPECIFICATIONS,\
    \ ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,\
    \ OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL BE\
    \ ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF PROVIDED, WILL CONFORM TO\
    \ THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN ANY MANNER, CONSTITUTE AN\
    \ ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR RECIPIENT OF ANY RESULTS, RESULTING\
    \ DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR ANY OTHER APPLICATIONS RESULTING FROM\
    \ USE OF THE SUBJECT SOFTWARE. FURTHER, GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES\
    \ AND LIABILITIES REGARDING THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE,\
    \ AND DISTRIBUTES IT \"AS IS.\"\n\nB. Waiver and Indemnity: RECIPIENT AGREES TO\
    \ WAIVE ANY AND ALL CLAIMS AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS\
    \ AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE\
    \ SUBJECT SOFTWARE RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES\
    \ ARISING FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING\
    \ FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY AND\
    \ HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS,\
    \ AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY LAW. RECIPIENT''S\
    \ SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE, UNILATERAL TERMINATION\
    \ OF THIS AGREEMENT.\n"
  contact:
    name: "NASA Ames Research Center, Aviation Systems Division"
    url: "https://utm.arc.nasa.gov/"
    email: "joseph.rios@nasa.gov"
  license:
    name: "NASA Open Source Agreement"
    url: "https://ti.arc.nasa.gov/opensource/nosa/"
host: "tmiserver.arc.nasa.gov"
basePath: "/fims"
tags:
- name: "A. Required Endpoints"
  description: "Primary RESTful endpoints for operators accessing FIMS"
  externalDocs:
    description: "NASA FIMS server generated from this API specification."
    url: "https://tmiserver.arc.nasa.gov/fims/api/"
- name: "B. FIMS Notifications and Alerts"
  description: "FIMS sends Alerts and other notifications to USS's by using the USS\
    \ Required API's POST alertMessages. FIMS subscribes to USS Discovery to learn\
    \ about the USS Network.\n"
- name: "C. Data Types"
  description: "Psuedo endpoints used for the documentation of the data schema"
- name: "D. Version"
  description: "Get the API version"
schemes:
- "https"
- "wss"
paths:
  /api:
    get:
      tags:
      - "A. Required Endpoints"
      summary: "API version and other data. Can be used to test whether server is\
        \ up."
      parameters: []
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Version"
      security: []
  /operations:
    post:
      tags:
      - "A. Required Endpoints"
      summary: "Submit an operation to FIMS"
      description: "Allows for submission of an operation plan to FIMS."
      operationId: "postOperation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "operation"
        description: "Operational plan to add\n"
        required: true
        schema:
          $ref: "#/definitions/Operation"
      responses:
        201:
          description: "Operation Plan request received."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        403:
          description: "Invalid ID supplied.  Fix authorization and retry."
          schema:
            $ref: "#/definitions/UTMRestResponse"
      security:
      - application:
        - "write"
  /operations/{gufi}:
    put:
      tags:
      - "A. Required Endpoints"
      summary: "Modify an operation"
      description: "Allows for modifying of an operation plan in FIMS."
      operationId: "updateOperation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "GUFI of the operation to update"
        required: true
        type: "string"
        format: "uuid"
      - in: "body"
        name: "operation"
        description: "Operation updates"
        required: true
        schema:
          $ref: "#/definitions/Operation"
      responses:
        200:
          description: "Operation updated."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        403:
          description: "Unauthorized user."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        404:
          description: "Operations not found."
          schema:
            $ref: "#/definitions/UTMRestResponse"
  /positions:
    post:
      tags:
      - "A. Required Endpoints"
      summary: "Submit position report"
      description: "Allows for submission of position data related to a particular\
        \ operation."
      operationId: "postPosition"
      parameters:
      - in: "body"
        name: "position"
        description: "Position to submit"
        required: true
        schema:
          $ref: "#/definitions/Position"
      responses:
        201:
          description: "Position posted successfully."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        400:
          description: "Invalid message. Please fix and retry."
          schema:
            $ref: "#/definitions/UTMRestResponse"
  /temp:
    get:
      tags:
      - "A. Required Endpoints"
      summary: "Submit uss instance  to FIMS"
      description: "Allows posting of a message to FIMS. Typically an intent message\
        \ related to a particular operation."
      operationId: "postMessage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "Message object being sent"
        required: true
        schema:
          $ref: "#/definitions/UssInstance"
      responses:
        201:
          description: "Returns message ID if received successfully."
          schema:
            $ref: "#/definitions/UTMRestResponse"
        400:
          description: "Invalid message. Please fix and retry."
        403:
          description: "Unauthorized user."
  /schema/Operation:
    get:
      tags:
      - "C. Data Types"
      summary: "Operation schema"
      description: "Illustrates an operation in JSON. This endpoint is not intended\
        \ for use.\n\nNote that if you are viewing this in a SwaggerUI, the \"try\
        \ it out\" feature will not work since this is not a RESTful endpoint.\n"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Operation"
        410:
          description: "A RESTful call was made to this endpoint but this is not a\
            \ REST endpoint. Do not use this endpoint for REST calls."
  /schema/Point:
    get:
      tags:
      - "C. Data Types"
      summary: "Point schema"
      description: "Illustrates an Point in JSON. This endpoint is not intended for\
        \ use.\n\nNote that if you are viewing this in a SwaggerUI, the \"try it out\"\
        \ feature will not work since this is not a RESTful endpoint.\n"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Point"
        410:
          description: "A RESTful call was made to this endpoint but this is not a\
            \ REST endpoint. Do not use this endpoint for REST calls."
  /schema/LineString:
    get:
      tags:
      - "C. Data Types"
      summary: "LineString schema"
      description: "Illustrates an LineString in JSON. This endpoint is not intended\
        \ for use.\n\nNote that if you are viewing this in a SwaggerUI, the \"try\
        \ it out\" feature will not work since this is not a RESTful endpoint.\n"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/LineString"
        410:
          description: "A RESTful call was made to this endpoint but this is not a\
            \ REST endpoint. Do not use this endpoint for REST calls."
  /schema/Polygon:
    get:
      tags:
      - "C. Data Types"
      summary: "Polygon schema"
      description: "Illustrates an Polygon in JSON. This endpoint is not intended\
        \ for use.\n\nNote that if you are viewing this in a SwaggerUI, the \"try\
        \ it out\" feature will not work since this is not a RESTful endpoint.\n"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Polygon"
        410:
          description: "A RESTful call was made to this endpoint but this is not a\
            \ REST endpoint. Do not use this endpoint for REST calls."
  /schema/ConstraintMessage:
    get:
      tags:
      - "C. Data Types"
      summary: "Constraint Message schema"
      description: "Illustrates the FIMS Constraint Message. FIMS will send out a\
        \ Constraint Message when a new constraint is put in place. This endpoint\
        \ is not intended for use.\n\nNote that if you are viewing this in a SwaggerUI,\
        \ the \"try it out\" feature will not work since this is not a RESTful endpoint\n"
      operationId: "constraintMsgUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/UTMRestResponse"
        410:
          description: "A RESTful call was made to this endpoint but this is not a\
            \ REST endpoint. Do not use this endpoint for REST calls."
securityDefinitions:
  application:
    type: "oauth2"
    tokenUrl: "http://fims_authz.utm.nasa.gov/oauth/token"
    flow: "application"
    scopes:
      write: "allows modifying resources"
      read: "allows reading resources"
definitions:
  Version:
    type: "object"
    properties:
      title:
        type: "string"
        description: "Title of the API"
      version:
        type: "string"
        description: "Version number for the API"
      build_time:
        type: "string"
        description: "Time of the latest build"
      api_docs:
        type: "array"
        description: "URL(s) for API Documentation"
        items:
          type: "string"
  Operation:
    type: "object"
    required:
    - "controller_location"
    - "gufi"
    - "operation_volumes"
    - "primary_contact_name"
    - "primary_contact_phone"
    - "registration"
    properties:
      gufi:
        type: "string"
        format: "uuid"
        description: "Created and assigned by originating USS. Validated as UUID version\
          \ 4 specification."
        minLength: 36
        maxLength: 36
      submit_time:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:11:56.118Z"
        description: "Time the operation submission was received by USS. Uses the\
          \ ISO 8601 format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ. Seconds\
          \ may have up to millisecond accuracy (three positions after decimal). \
          \ The 'Z' implies UTC times and is the only timezone accepted."
      decision_time:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:11:56.118Z"
        description: "A timestamp set by the USS any time the state of the operation\
          \ is updated, for example when the flight goes from ACCEPTED to ACTIVATED.\
          \  Uses the ISO 8601 format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.\
          \  Seconds may have up to millisecond accuracy (three positions after decimal).\
          \  The 'Z' implies UTC times and is the only timezone accepted."
      aircraft_comments:
        type: "string"
        description: "Informative text about the aircraft. Not used by the UTM System.\
          \ Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      flight_comments:
        type: "string"
        description: "Informative text about the operation. Not used by the UTM System.\
          \ Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      volumes_description:
        type: "string"
        description: "Informative text about the operational volumes. Not used by\
          \ the UTM System. Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      registration:
        type: "array"
        description: "The registration ID of the vehicle flying this operation. This\
          \ registration value is provided to operators by a vehicle registrar. Validated\
          \ as a non-null string. Array due to possiblity of multi-vehicle operation."
        items:
          type: "string"
          maxLength: 1000
        minItems: 1
      airspace_authorization:
        type: "string"
        format: "uuid"
        description: "TBD"
        minLength: 36
        maxLength: 36
      flight_number:
        type: "string"
        description: "Optional. For use by USS for identification purposes."
        maxLength: 100
      user_id:
        type: "string"
        description: "This field is populated based on the provided credentials."
      created_by:
        type: "string"
        description: "The user that created the operation."
        maxLength: 100
      primary_contact_name:
        type: "string"
        description: "Not currently checked for validity, but clients should endeavor\
          \ to provide useful, appropriate information in these fields. These values\
          \ should represent the contact that should be used in case of an issue with\
          \ the operation before, during, or after that operation."
        maxLength: 100
      primary_contact_phone:
        type: "string"
        format: "phone"
        maxLength: 100
      primary_contact_email:
        type: "string"
        format: "email"
        maxLength: 100
      extra_contact_info:
        type: "string"
        description: "Any additional contact information that may be useful (hours\
          \ of availability, fax number, communication limitations, etc.)."
        maxLength: 1000
        default: "NOT PROVIDED"
      state:
        type: "string"
        description: "The current state of the operation.  Must be maintained by the\
          \ USS.\n"
        minLength: 5
        maxLength: 13
        enum:
        - "ACCEPTED"
        - "ACTIVATED"
        - "CLOSED"
        - "NONCONFORMING"
        - "ROGUE"
      controller_location:
        $ref: "#/definitions/Point"
      gcs_location:
        $ref: "#/definitions/Point"
      contingency_plans:
        type: "array"
        description: "An array of ContingencyPlans wherein this operation may land\
          \ if needed/required during operation. Aids in planning and communication\
          \ during the execution of a contingency."
        items:
          $ref: "#/definitions/ContingencyPlan"
      faa_rule:
        type: "string"
        description: "1. PART_107\n  The operation follows FAA rule 107. Submission\
          \ of such operations is mandatory\n\n2. PART_107X\n  In general, operations\
          \ are 107X if they are doing something that would require a waiver under\
          \ current 107 rules. Submission of such operations is mandatory.\n\n3. PART_101E\n\
          \  Submission of 101E would be required if operation is within 5 statute\
          \ miles of an airport. Optional otherwise.\n\n4. OTHER\n  Placeholder for\
          \ other types of operations."
        enum:
        - "PART_107"
        - "PART_107X"
        - "PART_101E"
        - "OTHER"
        default: "PART_107"
      priority_elements:
        $ref: "#/definitions/PriorityElements"
      operation_volumes:
        type: "array"
        description: "The actual geographical information for the operation.  Maximum\
          \ array length of 12 currently allowed."
        items:
          $ref: "#/definitions/OperationVolume"
      metadata:
        type: "string"
        description: "Reserved field."
  Point:
    type: "object"
    properties:
      type:
        type: "string"
        description: "The type of Geometry. In this case, must be 'Point' per GeoJSON\
          \ spec.\n"
        enum:
        - "Point"
      coordinates:
        $ref: "#/definitions/Position"
    externalDocs:
      url: "https://tools.ietf.org/html/rfc7946#section-3.1.2"
    description: "GeoJSon Point, limited to 2D."
  Position:
    type: "object"
    required:
    - "coordinates"
    properties:
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "double"
        maxItems: 2
        minItems: 2
    description: "Array of doubles of longitude-latitude values. Note that longitude\
      \ is first.\n"
  ContingencyPlan:
    type: "object"
    properties:
      contingency_id:
        type: "number"
        format: "integer"
        description: "A positive integer unique amongst the set of Contingencies for\
          \ this operation. The integers may be ordered by some scheme, but this is\
          \ not required."
        minimum: 1
        maximum: 1000
      contingency_cause:
        type: "array"
        items:
          type: "string"
          description: "A cause that necessitates a contingency response. In planning\
            \ an operation, this array of values represents the various causes that\
            \ may necessitate the provided contingency_repsonse.\n1. LOST_C2_UPLINK\n\
            \  The operation has lost command or control uplink to the vehicle.\n\
            2. LOST_C2_DOWNLINK\n  The operation has lost downlinks from the vehicle.\n\
            3. LOST_NAV\n  The vehicle no longer has sufficient navigation sources.\n\
            4. LOST_SAA\n  The vehicle's sense and avoid solution is no longer reliable.\n\
            5. LOW_FUEL\n  The vehicle does not have enough power to complete its\
            \ mission. Still enough fuel to safely land or potentially return to base.\n\
            6. NO_FUEL\n  The vehicle is either completely without fuel or has only\
            \ enough fuel to land immediately.\n7. MECHANICAL_PROBLEM \n  The vehicle\
            \ is experiencing a mechanical problem necessitating initiation of a contingency\
            \ response.\n8. SOFTWARE_PROBLEM\n  The vehicle or some component of the\
            \ required platform ground equipment is experiencing a software problem.\n\
            9. ENVIRONMENTAL\n  There are conditions in the environment necessitating\
            \ initiation of a contingency response. Generally this will be weather\
            \ realted phenonmena.\n10. SECURITY\n  There is a security incident interrupting\
            \ this operation.\n11. TRAFFIC\n  The density or type of air traffic near\
            \ the vehicle necessitated a contingency response.\n12. LOST_USS\n  The\
            \ operation has lost at least some portion of expected USS services.\n\
            13. OTHER\n  Some cause not captured in any other category.\n14. ANY\n\
            \  This category should only be used wihtin an operation plan when a particular\
            \ contingency response is appropriate for any contingency cause."
          enum:
          - "LOST_C2_UPLINK"
          - "LOST_C2_DOWNLINK"
          - "LOST_NAV"
          - "LOST_SAA"
          - "LOW_FUEL"
          - "NO_FUEL"
          - "MECHANICAL_PROBLEM"
          - "SOFTWARE_PROBLEM"
          - "ENVIRONMENTAL"
          - "SECURITY"
          - "TRAFFIC"
          - "LOST_USS"
          - "OTHER"
          - "ANY"
      contingency_response:
        type: "string"
        description: "The type of contingency response.\n1. LANDING\n  The operation\
          \ will be landing by targeting the contingency_point.\n2. LOITERING\n  The\
          \ operation will loiter at the contingency_point at the specified altitude\
          \ with the noted loiter_radius_ft.\n3. RETURN_TO_BASE\n  The operation will\
          \ return to base as specified by the contingency_point. The USS may issue\
          \ an update to the operation plan to support this maneuver."
        enum:
        - "LANDING"
        - "LOITERING"
        - "RETURN_TO_BASE"
      contingency_point:
        $ref: "#/definitions/Point"
      loiter_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "The altitude for this contingency. Relevant and required for\
          \ the LOITERING contingency_type, ignored for all other types. In WGS84\
          \ reference system using feet as units."
      loiter_radius_ft:
        type: "number"
        format: "double"
        description: "The radius of airspace used in loitering for this contingency.\
          \ Relevant and required for the LOITERING contingency_type, ignored for\
          \ all other types. Using feet as units."
      relative_preference:
        type: "number"
        format: "double"
        description: "Optional numerical value that can be used in ranking the preference\
          \ of this Contingency versus any other within the set of Contingency for\
          \ this operation. This may be thought of as a ranking of the potential landing\
          \ sites with all other factors being held equal, though dynamic conditions\
          \ will likely play a role in adjusting this ranking in real time by the\
          \ USS or Operator.  For example, one Contingency may be significantly further\
          \ from the operation at a given time and, thus, would be less preferred\
          \ than it might be otherwise. Further interpretation of this field is left\
          \ to the operator and USS. "
        minimum: 0.0
      contingency_location_description:
        type: "string"
        description: "Optional description of the contingency location."
        maxLength: 1000
      relevant_operation_volumes:
        type: "array"
        description: "In the planning stage of an operation, this array may be populated\
          \ with ordinals that correspond to the ordinal values supplied with each\
          \ OperationVolume. This is an indicator that this particular ContingencyPlan\
          \ is valid for use when the operation is active in any of the particular\
          \ noted OperationVolumes."
        items:
          type: "integer"
          format: "int32"
      valid_time_begin:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:31:56.118Z"
        description: "Optional. Time that this location is expected to be first available.\
          \ For example, if an operation begins at 1100, but this location is not\
          \ available until 1105 at the earliest, then this field could indicate that\
          \ fact. Uses the ISO 8601 format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.\
          \  Seconds may have up to millisecond accuracy (three positions after decimal).\
          \  The 'Z' implies UTC times and is the only timezone accepted."
      valid_time_end:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:31:56.118Z"
        description: "Optional. Time that this location is expected to become unavailable.\
          \ For example, if an operation begins at 1100, but this location becomes\
          \ closed for some reason at 1105, then this field could indicate that fact.\
          \ Uses the ISO 8601 format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.\
          \  Seconds may have up to millisecond accuracy (three positions after decimal).\
          \  The 'Z' implies UTC times and is the only timezone accepted."
  PriorityElements:
    type: "object"
    required:
    - "priority_level"
    - "priority_status"
    properties:
      priority_level:
        $ref: "#/definitions/severity"
      priority_status:
        type: "string"
        description: "If a PUBLIC_SAFETY operation is POSTed to any endpoint, the\
          \ correct scope will be required. Any USS may POST an INFLIGHT_EMERGENCY\
          \ with non-priority scopes.  NONE should only be used to indicate that an\
          \ operation that previously had a priority status now has no priority status."
        enum:
        - "NONE"
        - "PUBLIC_SAFETY"
        - "INFLIGHT_EMERGENCY"
    description: "Data elements used to describe the status of priority operation.\
      \ Nominal operations need not include these data.\npriority_level must take\
      \ one of the four values EMERGENCY, ALERT, CRITICAL, or NOTICE.  NOTICE must\
      \ only be used with a priority_status of NONE.  The other values should be used\
      \ based on impact to other operations and safety of people and property on the\
      \ ground."
  severity:
    type: "string"
    description: "The severity level of a UTMMessage. This severity labeling may be\
      \ used by other components within UTM as well.  The labels are ordered such\
      \ that they may be given priority handling by software systems and human users.\n\
      **EMERGENCY > ALERT > CRITICAL > WARNING > NOTICE > INFORMATIONAL**\nIn relation\
      \ to a UTMMessage, the severities may be interpreted as follows.\n1. **EMERGENCY**\n\
      \  Desc.\n2. **ALERT**\n  Desc.\n3. **CRITICAL**\n  Desc.\n4. **WARNING**\n\
      \  Desc.\n5. **NOTICE**\n  Desc.\n6. **INFORMATIONAL**\n  Desc."
    enum:
    - "EMERGENCY"
    - "ALERT"
    - "CRITICAL"
    - "WARNING"
    - "NOTICE"
    - "INFORMATIONAL"
  OperationVolume:
    type: "object"
    required:
    - "beyond_visual_line_of_sight"
    - "effective_time_begin"
    - "effective_time_end"
    - "max_altitude_wgs84_ft"
    - "min_altitude_wgs84_ft"
    - "operation_geography"
    - "ordinal"
    properties:
      ordinal:
        type: "integer"
        description: "This integer represents the ordering of the operation volume\
          \ within the set of operation volumes. Need not be consecutive integers."
      near_structure:
        type: "boolean"
        description: "Is this operation volume within 400' of a structure?"
        default: false
      effective_time_begin:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:11:56.118Z"
        description: "Earliest time the operation will use the operation volume. \
          \ Uses the ISO 8601 format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.\
          \  Seconds may have up to millisecond accuracy (three positions after decimal).\
          \  The 'Z' implies UTC times and is the only timezone accepted."
      effective_time_end:
        type: "string"
        format: "date-time"
        example: "2015-08-20T15:11:56.118Z"
        description: "Latest time the operation will done with the operation volume.\
          \ It must be greater than effective_time_begin.  Uses the ISO 8601 format\
          \ conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.  Seconds may have up\
          \ to millisecond accuracy (three positions after decimal).  The 'Z' implies\
          \ UTC times and is the only timezone accepted."
      actual_time_end:
        type: "string"
        format: "date-time"
        example: "2015-08-20T14:31:56.118Z"
        description: "Time that the operational volume was freed for use by other\
          \ operations.  Should be populated and stored by the USS. Uses the ISO 8601\
          \ format conforming to pattern: YYYY-MM-DDThh:mm:ss.sssZ.  Seconds may have\
          \ up to millisecond accuracy (three positions after decimal).  The 'Z' implies\
          \ UTC times and is the only timezone accepted."
      min_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "The minimum altitude for this operation in this operation volume.\
          \ In WGS84 reference system using feet as units."
      max_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "The maximum altitude for this operation in this operation volume.\
          \ In WGS84 reference system using feet as units."
      operation_geography:
        $ref: "#/definitions/Polygon"
      beyond_visual_line_of_sight:
        type: "boolean"
        description: "Describes whether the operation volume is beyond the visual\
          \ line of sight of the RPIC."
  Polygon:
    type: "object"
    properties:
      type:
        type: "string"
        description: "The type of Geometry. In this case, must be 'Polygon' per GeoJSON\
          \ spec.\n"
        enum:
        - "Polygon"
      coordinates:
        type: "array"
        items:
          type: "array"
          items:
            $ref: "#/definitions/Position"
    externalDocs:
      url: "https://tools.ietf.org/html/rfc7946#section-3.1.6"
    description: "GeoJSon Polygon. Positions all 2D."
  UTMRestResponse:
    type: "object"
    properties:
      http_status_code:
        type: "integer"
      message:
        type: "string"
      resource:
        type: "string"
    example:
      http_status_code: 201
      message: "Resource created."
      resource: "/resource/683c0e9e-49dc-44ce-82de-a5723b1f6965"
  UssInstance:
    type: "object"
    required:
    - "coverage_area"
    - "time_available_begin"
    - "time_available_end"
    - "uss_instance_discovery_callback_url"
    properties:
      uss_instance_id:
        type: "string"
        format: "uuid"
        description: "A unique USS Instance identifier, minted by the USS."
      uss_name:
        type: "string"
        description: "The name of the entity providing UAS Support Services. Populated\
          \ by the service discovery system based on credential information provided\
          \ by the USS."
      time_submitted:
        type: "string"
        format: "date-time"
        description: "The time at which the submission of this USS Instance was received\
          \ at this discovery service.  Only modifiable by discovery service."
      time_available_begin:
        type: "string"
        format: "date-time"
        description: "The time at which the USS will begin providing services for\
          \ active UAS operations for this USS Instance.  Note that the USS may provide\
          \ planning services prior to the time_available_begin depending on the policies\
          \ of the USS."
      time_available_end:
        type: "string"
        format: "date-time"
        description: "The time at which the USS will cease providing services for\
          \ active UAS operations for this USS Instance.  This means that there will\
          \ not be any UAS operations airborne after this time that would be supported\
          \ by this USS Instance."
      coverage_area:
        $ref: "#/definitions/Polygon"
      time_last_modified:
        type: "string"
        format: "date-time"
        description: "The last time there was an update to the data regarding this\
          \ USS Instance. Only modifiable by discovery service."
      contact_email:
        type: "string"
        format: "email"
        description: "An optional contact email address for the USS."
      contact_phone:
        type: "string"
        format: "phone"
        description: "An optional contact number for the USS."
      uss_instance_discovery_callback_url:
        type: "string"
        format: "url"
        description: "A URL used by the USS Discovery Service to send messages to\
          \ the USS Instance as defined further in the USS API defined elsewhere (link\
          \ to documentation to be provided later in this document).  This URL may\
          \ be unique to the USS Instance or may be shared by other USS Instances\
          \ created by this USS.  URLs that are common to multiple USS Instances will\
          \ receive only one copy of each message."
      uss_informational_url:
        type: "string"
        format: "url"
        description: "An optional website URL for the USS for human use."
      uss_openapi_url:
        type: "string"
        format: "url"
        description: "An optional URL for the USS to supply an OpenAPI specification\
          \ of its UAS Operator interface."
      uss_registration_url:
        type: "string"
        format: "url"
        description: "An optional URL for UAS operators to register with this USS\
          \ for services."
      notes:
        type: "string"
        description: "Any additional free text that would aid consumers of the service\
          \ discovery API in understanding this USS Instance."
    description: "A contiguous area within which a USS has committed to providing\
      \ services for UAS operations.  The specific level of services provided may\
      \ be contained within the data provided from here in combination with data provided\
      \ directly from the USS.  In the future, the information provided by this object\
      \ may include more specific information about the services provided by the USS\
      \ or the types of UAS operations that are supported by this USS Instance."
    example:
      uss_instance_id: "00000000-0000-4444-8888-FEEDDEADBEEF"
      uss_name: "NUSS"
      time_submitted: "2016-08-03T00:15:40.931Z"
      time_available_begin: "2016-10-04T09:15:40Z"
      time_available_end: "2016-11-04T13:20:42Z"
      time_last_modified: "2016-08-04T17:31:01.253Z"
      coverage_area:
        type: "Polygon"
        coordinates:
        - - - -122.06382530000002
            - 37.4090697
          - - -122.05094253233
            - 37.4193006277
          - - -122.03276206976
            - 37.41929920176
          - - -122.06382530000002
            - 37.4090697
        - - - -122.062176579
            - 37.40968041145
          - - -122.05187056889
            - 37.41786527236
          - - -122.03732647634
            - 37.41786440108
          - - -122.062176579
            - 37.40968041145
      notes: "NUSS will only provide services for fixed-wing aircraft within this\
        \ USS Instance volume."
      uss_informational_url: "https://utm.arc.nasa.gov"
      uss_openapi_url: "https://nuss.arc.nasa.gov/api"
      uss_registration_url: "https://nuss.arc.nasa.gov/signup"
      contact_email: "joseph.rios@nasa.gov"
      contact_number: "650-555-5555"
  LineString:
    type: "object"
    properties:
      type:
        type: "string"
        description: "The type of Geometry. In this case, must be 'LineString' per\
          \ GeoJSON spec.\n"
        enum:
        - "LineString"
      coordinates:
        type: "array"
        items:
          $ref: "#/definitions/Position"
    externalDocs:
      url: "https://tools.ietf.org/html/rfc7946#section-3.1.4"
    description: "GeoJSon LineString. Positions all 2D."
responses:
  WRONG_PROTOCOL:
    description: "A RESTful call was made to this endpoint but this is not a REST\
      \ endpoint. Do not use this endpoint for REST calls."
x-azure-api-id: "sh-1469571953760"
