---
swagger: "2.0"
info:
  version: "v4"
  title: "NUSS Operator API v4"
  description: "Manage Operator Operations.

  For GETTERs with query parameters, the parameter names must be lower case, however
  string parmeter values are case insensitive.

  Example of the GET-list using time window:
      /messages/?sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z

  (todo) GET-list for Positions is not yet in.
  (todo) GET-list returns an empty list if nothing is found.
  GET-by-gufi returns 404 if the item is not found."

host: "some.host"
basePath: "/operator/v4"
tags:

- name: "Message Data Types"
  description: "Intent, Inform, Alert and Free message schemas"
- name: "Operations"
  description: "Add and view operations"
- name: "Positions, Messages"
  description: "Manage flying operations"
- name: "Geography Data Types"
  description: "Geographies"
- name: "Subscription Points"
  description: "Subscribe to notifications"
schemes:
- "https"

paths:
  /messages:
    get:
      tags:
      - "Positions, Messages"
      summary: "Get Operator Messages."
      description: "You can specify ASC and DESC (or asc/desc) as follows:
        /operator/messages?sort=DESC
        You can specify a time window as follows:
        /operator/messages/?limit=44&sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      - name: "sent_time_before"
        in: "query"
        description: "Returns Message with sent_time before or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "sent_time_after"
        in: "query"
        description: "Returns Messages with sent_time after or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Positions, Messages"
      summary: "add Message for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "msg"
        description: "msg"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/UTMRestResponse"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /messages/{gufi}:
    get:
      tags:
      - "Positions, Messages"
      summary: "get Messages for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /operations:
    get:
      tags:
      - "Operations"
      summary: "GET operation list with query"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "state"
        in: "query"
        description: "You can specify ASC and DESC (or asc/desc) as follows: https://host.nasa.gov/nuss/operator/messages?sort=DESC

          You can also specify limit and offset.

          Returns Operations with an OR list given states. Eg. state=A,V
           returns operations in A or V states. Cannot use with state_not_eq."
        required: false
        type: array
        minItems: 1
        maxItems: 13
        items:
          type: "string"
          minLength: 5
          maxLength: 14
      - name: "state_not_eq"
        in: "query"
        description: "Returns Operations with other than the given states. Eg state_not_eq=X,C. Cannot use with state."
        required: false
        type: array
        minItems: 1
        maxItems: 13
        items:
          type: "string"
          minLength: 5
          maxLength: 14
      - name: "effective_time_begin_before"
        in: "query"
        description: "Returns Operations with effective_begin_time before or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "effective_time_begin_after"
        in: "query"
        description: "Returns Operations with effective_begin_time after or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "effective_time_end_before"
        in: "query"
        description: "Returns Operations with effective_end_time before or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "effective_time_end_after"
        in: "query"
        description: "Returns Operations with effective_end_time after or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "inside_bbox"
        in: "query"
        description: "Returns Operations with flight geographies inside or intersecting the bbox.
          The coordinates are comma delimited (lon_min,lat_min,lon_max,lat_max). Example: -121.1133,36.5317,-121.0941,36.6530"
        required: false
        type: array
        maxItems: 4
        minItems: 4
        items:
          type: number
          format: double
      - name: "sort"
        in: "query"
        description: "sorts the results by submit_time. Valid values - asc, desc. Default value is desc."
        required: false
        type: "string"
        minLength: 3
        maxLength: 4
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "Operations"
      summary: "add an operation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "model"
        description: "model"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/UTMRestResponse"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /operations/{gufi}:
    get:
      tags:
      - "Operations"
      summary: "view operation by GUFI"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "GUFI of the operation being requested."
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: "OK"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "Operations"
      summary: "modify an operation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "modifiedOp"
        description: "modifiedOp"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/UTMRestResponse"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /positions:
    get:
      tags:
      - "Positions, Messages"
      summary: "GET Positions"
      description: "You can specify ASC and DESC (or asc/desc) as follows: https://host.nasa.gov/nuss/operator/positions?sort=DESC
        You can also specify limit and offset.
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns empty list if no positions are found.  The return list can be large so use limit\
            \ and offset."
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Positions, Messages"
      summary: "addPosition"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "pos"
        description: "pos"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/UTMRestResponse"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /positions/{gufi}:
    get:
      tags:
      - "Positions, Messages"
      summary: "getPositionsForGufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields"
        required: false
        type: "string"
      - name: "q"
        in: "query"
        description: "q"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns positions for GUFI"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"

definitions:
  UTMRestResponse:
    type: "object"
    properties:
      http_status_code:
        type: "string"
      msg:
        type: "string"
      uri:
        type: "string"
      url:
        type: "string"
      violationMap:
        type: "object"
        properties: {}
