---
swagger: "2.0"
info:
  version: "v4"
  title: "NUSS Operator API v4"
  description: "Manage Operator Operations.

  For GETTERs with query parameters, the parameter names must be lower case, however
  string parmeter values are case insensitive.

  Example of the GET-list using time window:
      /messages/?sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z"

host: "some.host"
basePath: "/operator/v4"
tags:

- name: "Message Data Types"
  description: "Intent, Inform, Alert and Free message schemas"
- name: "Operations"
  description: "Add and view operations"
- name: "Positions, Messages"
  description: "Manage flying operations"
- name: "Geography Data Types"
  description: "Geographies"
- name: "Subscription Points"
  description: "Subscribe to notifications"
schemes:
- "https"

paths:
  /messages:
    get:
      tags:
      - "Messages"
      summary: "Get Operator Messages."
      description: "You can specify ASC and DESC (or asc/desc) as follows:
        /operator/messages?sort=DESC
        You can specify a time window as follows:
        /operator/messages/?limit=44&sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      - name: "sent_time_before"
        in: "query"
        description: "Returns Message with sent_time before or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "sent_time_after"
        in: "query"
        description: "Returns Messages with sent_time after or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Messages"
      summary: "add Message for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "msg"
        description: "msg"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /messages/{gufi}:
    get:
      tags:
      - "Messages"
      summary: "get Messages for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /operations:
    get:
      tags:
        - A. Required Endpoints
      summary: Request information regarding Operations
      description: Allows querying for Operation data. Returns an empty list if the query returns nothing.
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
            - utm.nasa.gov_read.operation
      produces:
        - application/json
      parameters:
        - name: registration_id
          in: query
          description: >-
            Return only results that match the registration_ids provided.  Only
            operations that have not completed or have completed within the last
            24 hours are required to be returned. If multiple IDs are provided,
            they must be unique and separated by commas.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            format: uuid
            minLength: 36
            maxLength: 36
          collectionFormat: csv
        - name: submit_time
          in: query
          description: >-
            A single date-time value that will be used to provide all operations
            submitted AFTER that time.
          type: string
          format: date-time
          minLength: 20
          maxLength: 25
          required: false
        - name: state
          in: query
          description: >-
            Return only operations that are in the states provided.  Comma
            separated list of states.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            enum:
              - ACCEPTED
              - ACTIVATED
              - CLOSED
              - NONCONFORMING
              - ROGUE
          collectionFormat: csv
          required: false
        - name: distance
          in: query
          description: >-
            Distance from reference_point to find operations. Ignored if
            reference_point is not provided.  Units are feet.  Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  Default value only has meaning when
            reference_point parameter is provided.
          type: integer
          format: int32
          maximum: 60762
          minimum: 1
          default: 300
          required: false
        - name: reference_point
          in: query
          description: >-
            A single point used to find all operations within some distance from
            that point. Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  When distance is excluded and reference_point is
            included, uses default value (300ft) for distance.
            Described as a GeoJSON position.  The value is equivalent to what
            would be seen in the "coordinates" field for a GeoJSON Point
            object.  See https://tools.ietf.org/html/rfc7946#section-3.1.1 for
            further reference.  Example would be reference_point=[-122.056364,
            37.414371] (URL safe:
            reference_point%3D%5B-122.056364%2C%2037.414371%5D). As per GeoJSON
            spec, this is long-lat format in the WGS84 reference system.
            MUST NOT include a third coordinate element, strictly 2D.
          type: string
          format: geojson-position
          required: false
        - name: sort
          in: query
          description: >-
            Field name(s) to use for sorting records. If multiple fields
            are provided, the sorting is based on the ordered priorty of that
            list.  Note that the enum provided designates the required fields
            that a USS must support. A USS may decide to support additional
            fields, but how that USS communicates that option is out of scope
            for this API document.
          required: false
          type: array
          items:
            type: string
            enum:
              - submit_time
              - gufi
              - state
          collectionFormat: csv
          maxItems: 3
          minItems: 1
          default: submit_time
        - name: sort_increasing
          in: query
          description: >-
            For optional use with the 'sort' parameter. If 'sort' is not
            provided, then 'sort_increasing' will be ignored. Boolean value.  If
            multiple fields are provided in the 'sort' parameter, this boolean
            value will apply to all of them.
          required: false
          type: boolean
          default: true
        - name: limit
          in: query
          description: The maximum number or records to return.
          required: false
          type: integer
          default: 10
          maximum: 100
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
        - name: offset
          in: query
          description: The index from which to begin the list of returned records.
          required: false
          type: integer
          default: 0
          minimum: 0
          exclusiveMinimum: false
          format: int32
      responses:
        '200':
          description: Successful data request. Response includes requested data.
          schema:
            type: array
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

    post:
      tags:
      - "Operations"
      summary: "add an operation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "model"
        description: "model"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  '/operations/{gufi}':
    get:
      tags:
        - A. Required Endpoints
      summary: Retrieve an operation by GUFI.
      description: Retrieve an operation by GUFI.  Returns 404 if gufi is not found.
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
            - utm.nasa.gov_read.operation
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          format: uuid
          description: >-
            GUFI of the operation being requested.
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '404':
          description: Resource not found.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

    put:
      tags:
        - A. Required Endpoints
      summary: 'Announce a new, or update an already announced operation.'
      description: >-
        Announce an Operation to another USS, either initial Operation or an
        update to the Operation. The Operation's owner creates the ID.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          description: PUT operation by gufi
        - in: body
          name: operation
          description: |
            Operational plan with the following properties:
              1. Contains a valid uss_operation_id.
              2. time_available_end value that is in the future.
              3. For and update to an Operation, date-time fields that are in the past MUST NOT be modified.
              4. On the first announcement of an Operation, submit_time SHOULD be equal to update_time.
              5. submit_time MUST be less than or equal to update_time.
              5. {gufi} path parameter MUST equal Operation.gufi of the body data
              6. Operation.uss_id == access_token.sub
              7. Operation.priority_elements.status MUST NOT be PUBLIC_SAFETY.
              8. Other rules for a USS Operation PUT are satisfied.

          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        '200':
          description: "OK"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '409':
          description: >-
            Conflict. This USS has an Operation that intersects.
            'messages' field in UTMRestResponse will contain list of GUFIs of length
            at least 1 indicating the conflicting Operation(s).
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  /positions:
    get:
      tags:
      - "Positions, Messages"
      summary: "GET Positions"
      description: "You can specify ASC and DESC (or asc/desc) as follows: https://host.nasa.gov/nuss/operator/positions?sort=DESC
        You can also specify limit and offset.
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns empty list if no positions are found.  The return list can be large so use limit\
            \ and offset."
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Positions"
      summary: "addPosition"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "pos"
        description: "pos"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /positions/{gufi}:
    get:
      tags:
      - "Positions, Messages"
      summary: "getPositionsForGufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields"
        required: false
        type: "string"
      - name: "q"
        in: "query"
        description: "q"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns positions for GUFI. returns empty list if no positions are found.  The return list can be large so use limit and offset."
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
