---
swagger: "2.0"
info:
  version: "v4"
  title: "NUSS Operator API v4"
  description: "Manage Operator Operations.

  For GETTERs with query parameters, the parameter names must be lower case, however
  string parmeter values are case insensitive.

  Example of the GET-list using time window:
      /messages/?sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z"

host: "some.host"
basePath: "/operator/v4"
tags:

- name: "Message Data Types"
  description: "Intent, Inform, Alert and Free message schemas"
- name: "Operations"
  description: "Add and view operations"
- name: "Positions"
  description: "Add and view operation positions"
- name: "Messages"
  description: "Add and view operation messages"
- name: "Geography Data Types"
  description: "Geographies"
- name: "Subscription Points"
  description: "Subscribe to notifications"
schemes:
- "https"

paths:
  /messages:
    get:
      tags:
      - "Messages"
      summary: "Get Operator Messages."
      description: "You can specify ASC and DESC (or asc/desc) as follows:
        /operator/messages?sort=DESC
        You can specify a time window as follows:
        /operator/messages/?limit=44&sent_time_after=2038-01-01T07:58:20.000Z&sent_time_before=2038-01-01T07:58:30.000Z
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      - name: "sent_time_before"
        in: "query"
        description: "Returns Message with sent_time before or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      - name: "sent_time_after"
        in: "query"
        description: "Returns Messages with sent_time after or equal to the given time"
        required: false
        type: string
        format: date-time
        minLength: 25
        maxLength: 25
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/UtmOperMessage"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Messages"
      summary: "add Message for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "msg"
        description: "msg"
        required: true
        schema:
          $ref: "#/definitions/UtmOperMessage"
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /messages/{gufi}:
    get:
      tags:
      - "Messages"
      summary: "get Messages for a Gufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/UtmOperMessage"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /operations:
    get:
      tags:
        - A. Required Endpoints
      summary: Request information regarding Operations
      description: Allows querying for Operation data. Returns an empty list if the query returns nothing.
      produces:
        - application/json
      parameters:
        - name: registration_id
          in: query
          description: >-
            Return only results that match the registration_ids provided.  Only
            operations that have not completed or have completed within the last
            24 hours are required to be returned. If multiple IDs are provided,
            they must be unique and separated by commas.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            format: uuid
            minLength: 36
            maxLength: 36
          collectionFormat: csv
        - name: submit_time
          in: query
          description: >-
            A single date-time value that will be used to provide all operations
            submitted AFTER that time.
          type: string
          format: date-time
          minLength: 20
          maxLength: 25
          required: false
        - name: state
          in: query
          description: >-
            Return only operations that are in the states provided.  Comma
            separated list of states.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            enum:
              - ACCEPTED
              - ACTIVATED
              - CLOSED
              - NONCONFORMING
              - ROGUE
          collectionFormat: csv
          required: false
        - name: distance
          in: query
          description: >-
            Distance from reference_point to find operations. Ignored if
            reference_point is not provided.  Units are feet.  Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  Default value only has meaning when
            reference_point parameter is provided.
          type: integer
          format: int32
          maximum: 60762
          minimum: 1
          default: 300
          required: false
        - name: reference_point
          in: query
          description: >-
            A single point used to find all operations within some distance from
            that point. Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  When distance is excluded and reference_point is
            included, uses default value (300ft) for distance.
            Described as a GeoJSON position.  The value is equivalent to what
            would be seen in the "coordinates" field for a GeoJSON Point
            object.  See https://tools.ietf.org/html/rfc7946#section-3.1.1 for
            further reference.  Example would be reference_point=[-122.056364,
            37.414371] (URL safe:
            reference_point%3D%5B-122.056364%2C%2037.414371%5D). As per GeoJSON
            spec, this is long-lat format in the WGS84 reference system.
            MUST NOT include a third coordinate element, strictly 2D.
          type: string
          format: geojson-position
          required: false
        - name: sort
          in: query
          description: >-
            Field name(s) to use for sorting records. If multiple fields
            are provided, the sorting is based on the ordered priorty of that
            list.  Note that the enum provided designates the required fields
            that a USS must support. A USS may decide to support additional
            fields, but how that USS communicates that option is out of scope
            for this API document.
          required: false
          type: array
          items:
            type: string
            enum:
              - submit_time
              - gufi
              - state
          collectionFormat: csv
          maxItems: 3
          minItems: 1
          default: submit_time
        - name: sort_increasing
          in: query
          description: >-
            For optional use with the 'sort' parameter. If 'sort' is not
            provided, then 'sort_increasing' will be ignored. Boolean value.  If
            multiple fields are provided in the 'sort' parameter, this boolean
            value will apply to all of them.
          required: false
          type: boolean
          default: true
        - name: limit
          in: query
          description: The maximum number or records to return.
          required: false
          type: integer
          default: 10
          maximum: 100
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
        - name: offset
          in: query
          description: The index from which to begin the list of returned records.
          required: false
          type: integer
          default: 0
          minimum: 0
          exclusiveMinimum: false
          format: int32
      responses:
        '200':
          description: Successful data request. Response includes requested data.
          schema:
            type: array
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

    post:
      tags:
      - "Operations"
      summary: "add an operation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "model"
        description: "model"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  '/operations/{gufi}':
    get:
      tags:
        - A. Required Endpoints
      summary: Retrieve an operation by GUFI.
      description: Retrieve an operation by GUFI.  Returns 404 if gufi is not found.
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          format: uuid
          description: >-
            GUFI of the operation being requested.
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '404':
          description: Resource not found.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

    put:
      tags:
        - A. Required Endpoints
      summary: 'Announce a new, or update an already announced operation.'
      description: >-
        Announce an Operation to another USS, either initial Operation or an
        update to the Operation. The Operation's owner creates the ID.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          description: PUT operation by gufi
        - in: body
          name: operation
          description: |
            Operational plan with the following properties:
              1. Contains a valid uss_operation_id.
              2. time_available_end value that is in the future.
              3. For and update to an Operation, date-time fields that are in the past MUST NOT be modified.
              4. On the first announcement of an Operation, submit_time SHOULD be equal to update_time.
              5. submit_time MUST be less than or equal to update_time.
              5. {gufi} path parameter MUST equal Operation.gufi of the body data
              6. Operation.uss_id == access_token.sub
              7. Operation.priority_elements.status MUST NOT be PUBLIC_SAFETY.
              8. Other rules for a USS Operation PUT are satisfied.

          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        '200':
          description: "OK"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '409':
          description: >-
            Conflict. This USS has an Operation that intersects.
            'messages' field in UTMRestResponse will contain list of GUFIs of length
            at least 1 indicating the conflicting Operation(s).
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  /positions:
    get:
      tags:
      - "Positions"
      summary: "GET Positions"
      description: "You can specify ASC and DESC (or asc/desc) as follows: https://host.nasa.gov/nuss/operator/positions?sort=DESC
        You can also specify limit and offset.
        "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns empty list if no positions are found.  The return list can be large so use limit\
            \ and offset."
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    post:
      tags:
      - "Positions"
      summary: "addPosition"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "pos"
        description: "pos"
        required: true
        schema:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
      responses:
        201:
          description: "Created"
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /positions/{gufi}:
    get:
      tags:
      - "Positions"
      summary: "getPositionsForGufi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "gufi"
        in: "path"
        description: "gufi"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields"
        required: false
        type: "string"
      - name: "q"
        in: "query"
        description: "q"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        description: "sort"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "returns positions for GUFI. returns empty list if no positions are found.  The return list can be large so use limit and offset."
          schema:
            type: "array"
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"


definitions:
  UtmOperMessage:
    type: object
    required:
    - oper_message_type
    properties:
      message_id:
        type: string
        format: uuid
        example: 00000000-0000-4444-8888-FEEDDEADBEEF
        minLength: 36
        maxLength: 36
        pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-4[0-9a-fA-F]{3}\-[8-b][0-9a-fA-F]{3}\-[0-9a-fA-F]{12}$
      uss_name:
        type: string
        description: A name identifying the originator of this message. The maximum and minimum character length is based on a usable domain name, and considering the maximum in RFC-1035.
        minLength: 4
        maxLength: 250
      discovery_reference:
        type: string
        example: 110,117,10
        description: |-
          An identifier that supplies information about the USS from the discovery perspecitve.  This field is currently vague due to research on the appropriate discovery approach.  It will be tightened when an operational system decides on the approach to discovery.
          For Gridded USS Discovery, this should be an x,y,z string where x and y are the coords of the grid and z is the zoom level.  For example:  "110,117,10"
          For FIMS Discovery, this should be the uss_instance_id which is a UUID.
        minLength: 5
        maxLength: 36
      gufi:
        type: string
        format: uuid
        example: 00000000-0000-4444-8888-FEEDDEADBEEF
        description: The GUFI for the operation referenced in this message.  UUIDv4.
        minLength: 36
        maxLength: 36
        pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-4[0-9a-fA-F]{3}\-[8-b][0-9a-fA-F]{3}\-[0-9a-fA-F]{12}$
      time_sent:
        type: string
        format: date-time
        example: 2015-08-20T14:11:56.118Z
        description: Time the message was generated by the origin.
        x-utm-data-accessibility: OPERATIONAL
      severity:
        $ref: >-
          https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/severity
      message_type:
        type: string
        description: |-
          The type of message. THe 'gufi' field is required for all message_types except OTHER_SEE_FREE_TEXT. 1. UNPLANNED_LANDING
            This operation had to land earlier than expected and/or at a
            location other than was originally planned.
            UNPLANNED_LANDING MUST have severity ALERT if any damage or potential damage or injury other than to the UAS itself.  CRITICAL otherwise.
          2. UNCONTROLLED_LANDING
            This operation had an uncontrolled landing either at the originally
            planned landing location or another location.
            UNCONTROLLED_LANDING MUST be sent with severity ALERT if any damage or potential damage or injury other than to the UAS itselft.  CRITICAL otherwise.
          3. OPERATION_NONCONFORMING
            This operation has entered the NONCONFORMING state. Must be sent to
            LUN anytime operation transitions to this state.
            OPERATION_NONCONFORMING MUST be sent with severity ALERT if the operation is expected to intersect another operation plan or unauthorized airspace.
            OPERATION_NONCONFORMING MUST be sent with severity EMERGENCY if already intersecting another operation or if already entered unauthorized airspace. Otherwise CRITICAL.
          4. OPERATION_ROGUE
            This operation has entered the ROGUE state.
            OPERATION_ROGUE MUST be sent anytime operation transitions to ROGUE state.
            OPERATION_ROGUE MUST be sent with severity ALERT if no current or immediate intersection with another operation or unauthorized airspace. EMERGENCY otherwise.
          5. OPERATION_CONFORMING
            This operation was previously in the NONCONFORMING state and has
            transitioned back to the ACTIVE state. 'gufi' field is required with
            this message_type.
          6. OPERATION_CLOSED
            OPERATION_CLOSED MUST be sent when and operation has entered the terminal CLOSED state.
            The operation will not again be active or in flight.
            OPERATION_CLOSED MUST be sent with severity NOTICE if transitioning from ACCEPTED to CLOSED.
            OPERATION_CLOSED MUST be sent with severity CRITICAL if transitioning from NONCONFORMING or ROGUE.
          7. CONTINGENCY_PLAN_INITIATED
            A USS MUST send this message type to its LUN when a Contingency Plan begins.
          8. CONTINGENCY_PLAN_CANCELLED
            A USS MUST send this message type to its LUN when a Contingency Plan ends or changes.
          9. PERIODIC_POSITION_REPORTS_START
            The requestor wants position reports provided for the operation
            referenced in the 'gufi' field of this request. Reports must be
            provided as per the USS Specification.
            PERIODIC_POSITION_REPORTS_START MUST be sent with severity NOTICE.
          10. PERIODIC_POSITION_REPORTS_END
            The requestor wants previously requested position reports to end.
            If this message is received without a corresponding
            PERIODIC_POSITION_REPORTS_START, the message response is TBD (200,
            400, 401, 404, etc.).
            PERIODIC_POSITION_REPORTS_END MUST be sent with severity NOTICE.
          11. UNAUTHORIZED_AIRSPACE_PROXIMITY
            An operation is within 3038 feet (almost 0.5nmi) from the boundary
            of unauthorized airspace (e.g., UVR/TFR, controlled airspace,
            airspace constraint).
            UNAUTHORIZED_AIRSPACE_PROXIMITY MUST be sent with severity WARNING.
          12. UNAUTHORIZED_AIRSPACE_ENTRY
            An operation has breached the boundary and entered into
            unauthorized airspace (e.g., UVR/TFR, controlled airspace, airspace
            constraint).
            UNAUTHORIZED_AIRSPACE_ENTRY MUST be sent with severity CRITICAL.
          13. OTHER_SEE_FREE_TEXT
            Messages that do not fit any of the otherwise defined categories.
            Should be used sparingly or with additional out-of-band description.
            OTHER_SEE_FREE_TEXT severity MUST be INFORMATIONAL or ALERT.
            Only use ALERT if there
            is some risk of injury or damage that would not be captured with
            any of the other enums.

          The following table summarizes the appropriate message_type-severity combinations.  If a combination is not in the table, then it is not an allowable combination and must not be used within the USS Network.
          | message_type                    | severity      | when                                                                        | |---------------------------------|---------------|-----------------------------------------------------------------------------| | UNPLANNED_LANDING               | ALERT         | Damage to people or property (other than the UAS).                          | | UNPLANNED_LANDING               | CRITICAL      | If not ALERT.                                                               | | UNCONTROLLED_LANDING            | ALERT         | Damage to people or property (other than the UAS).                          | | UNCONTROLLED_LANDING            | CRITICAL      | If not ALERT.                                                               | | OPERATION_NONCONFORMING         | EMERGENCY     | Operation intersecting another op plan or unauthz'ed airspace.              | | OPERATION_NONCONFORMING         | ALERT         | Operation expected to intersect another op plan or unauthz'ed airspace.     | | OPERATION_NONCONFORMING         | CRITICAL      | If not EMERGENCY nor ALERT.                                                 | | OPERATION_ROGUE                 | EMERGENCY     | Current/impending intersection with another op plan or unauthz'ed airspace. | | OPERATION_ROGUE                 | ALERT         | If not EMERGENCY.                                                           | | OPERATION_CONFORMING            | NOTICE        | Always.                                                                     | | OPERATION_CLOSED                | CRITICAL      | If operation was ROGUE or NONCONFORMING at any time.                        | | OPERATION_CLOSED                | NOTICE        | If not CRITICAL.                                                            | | CONTINGENCY_PLAN_INITIATED      | ALERT         | If operation expected to intersect another op plan or unauthz'ed airspace.  | | CONTINGENCY_PLAN_INITIATED      | CRITICAL      | If not ALERT.                                                               | | CONTINGENCY_PLAN_CANCELLED      | CRITICAL      | Always.                                                                     | | PERIODIC_POSITION_REPORTS_START | NOTICE        | Always.                                                                     | | PERIODIC_POSITION_REPORTS_END   | NOTICE        | Always.                                                                     | | UNAUTHORIZED_AIRSPACE_PROXIMITY | WARNING       | Always.                                                                     | | UNAUTHORIZED_AIRSPACE_ENTRY     | CRITICAL      | Always.                                                                     | | OTHER_SEE_FREE_TEXT             | ALERT         | Potential risk of damage to people or property other than this UAS.         | | OTHER_SEE_FREE_TEXT             | INFORMATIONAL | If not ALERT.                                                               |
        enum:
        - UNPLANNED_LANDING
        - UNCONTROLLED_LANDING
        - OPERATION_NONCONFORMING
        - OPERATION_ROGUE
        - OPERATION_CONFORMING
        - OPERATION_CLOSED
        - CONTINGENCY_PLAN_INITIATED
        - CONTINGENCY_PLAN_CANCELLED
        - PERIODIC_POSITION_REPORTS_START
        - PERIODIC_POSITION_REPORTS_END
        - UNAUTHORIZED_AIRSPACE_PROXIMITY
        - UNAUTHORIZED_AIRSPACE_ENTRY
        - OTHER_SEE_FREE_TEXT
      oper_message_type:
        type: string
        description: |-
          1. OPERATOR_INFORM_ACCEPTED
            This operation was in PROPOSED state and has transitioned to the
            ACCEPTED state.
          2. OPERATOR_INFORM_REJECTED
            This operation was in PROPOSED state and has rejected to the
            CLOSED state due to reasons like intersecting existing operations
            or failed negotiations.
        enum:
        - OPERATOR_INFORM_ACCEPTED
        - OPERATOR_INFORM_REJECTED
        - OPERATOR_INFORM_ACTIVATED
        - OPERATOR_INFORM_NONCONFORMING
        - OPERATOR_INFORM_ROGUE
        - OPERATOR_INFORM_CLOSED
        - OPERATOR_INTENT_ALL_CLEAR
        - OPERATOR_INTENT_CLOSE
        - OPERATOR_INTENT_CANCEL
        - OPERATOR_INTENT_ABORT
        - OPERATOR_ALERT_LOST_COMM
      last_known_position:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
      contingency:
          $ref: >-
            https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/ContingencyPlan
      prev_message_id:
        type: string
        format: uuid
        example: 00000000-0000-4444-8888-FEEDDEADBEEF
        description: A message_id of a previously sent message that has relevance or context for this message. Example might be "CONTINGENCY_PLAN_CANCELLED" referencing the previous "CONTINGENCY_PLAN_INITIATED" message.
        minLength: 36
        maxLength: 36
        pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-4[0-9a-fA-F]{3}\-[8-b][0-9a-fA-F]{3}\-[0-9a-fA-F]{12}$
      free_text:
        type: string
        description: Any additional information. Note that this is for human consumption. All time critical elements should be captured in the other data fields for easier consumption by other automated systems.
        maxLength: 1000
      callback:
        type: string
        format: url
        example: https://superutm.uss/nuss/uss
        description: |-
          A base URL that the receiver would need to conduct further USS-USS communications in relation to the data provided in this message.
          Sample of use cases:
            1. PERIODIC_POSITION_REPORTS_START:  need to know where to send positions.
            2. OPERATION_ROGUE:  need to know where to request op and pos data.
            3. CONTINGENCY_PLAN_INITIATED: need to know where to request op data.

          Since these use cases may require hitting different endpoints, only the base url is required in the callback field.  The receiver would be responsible for determining which endpoint to use for follow up data exchanges.
          Note that "base URL" here implies the full path with protocol (only HTTPS allowed) upto where trailing USS-API endpoints would be applied.
          See example.
    description: A UTM operator message. Used to make other stakeholders aware about an issue.  The noted required fields are required for all UtmOperMessages, however there are fields that are contextually required depending on the type of message. Please see the descriptions provided with each field.
    example:
      message_id: 00000000-0000-4444-8888-CAFEBEEFF00D
      uss_name: uss.provider321.net
      time_sent: 2015-08-20T14:11:57.345Z
      severity: NOTICE
      message_type: OPERATION_CLOSED
      gufi: 00000000-0000-4444-8888-FEEDDEADBEEF
      free_text: Cool flight, bro
      callback: https://uss.provider321.net/uss
