swagger: "2.0"
info:
  description: >-
    This API describes the RESTful interface from a UAS Service Supplier (USS)
    to FIMS.

  version: "v3"
  title: "UTM Research Platform, FIMS-USS Interface"
  contact:
    name: NASA Ames Research Center, Aviation Systems Division
    url: https://utm.arc.nasa.gov/
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: https://ti.arc.nasa.gov/opensource/nosa/
  termsOfService: |

    A. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL BE ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF PROVIDED, WILL CONFORM TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN ANY MANNER, CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR RECIPIENT OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR ANY OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE. FURTHER, GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES REGARDING THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE, AND DISTRIBUTES IT "AS IS."

    B. Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE SUBJECT SOFTWARE RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES ARISING FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY AND HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY LAW. RECIPIENT''S SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE, UNILATERAL TERMINATION OF THIS AGREEMENT.

host: "utmbeta.arc.nasa.gov"

basePath: "/fims"
schemes:
- https
- wss
tags: # Have to add 'A' 'B' etc since ordering isn't respected in SwaggerUI.
- name: A. Required Endpoints
  description: >-
      FIMS implements the USS API where appropriate.  For endpoints from the USS API that FIMS does not support, FIMS may return a 404.
- name: B. Version
  description: Get information about this server.

paths:
  /api:
    get:
      tags:
        - B. Version
      security: []
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: 'https://raw.githubusercontent.com/nasa/utm-apis/master/utm-domains/utm-domain-commons.yaml#/definitions/Version'

securityDefinitions:
  fims_ops_security:
    type: oauth2
    tokenUrl: http://thisserver/oauth/token
    flow: application
    scopes:
      'utm.nasa.gov_write.operation': Subject can read, create, and update operational data such as operation plans and position reports
      'utm.nasa.gov_read.operation': Subject can read operational data such as operation plans and position reports
      'utm.nasa.gov_write.message': Subject can read, create, and update UTM message data
      'utm.nasa.gov_read.message': Subject can read UTM message data
