---
swagger: "2.0"
info:
  description: "This API describes the minimum interface that a USS must implement\
    \ to  be part of the USS Network.  This API allows for communication of data \
    \ between USS Instances and from FIMS to a USS regarding new USS Instances."
  version: "v1"
  title: "USS Required API"
  termsOfService: "\nA. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED \"AS IS\" WITHOUT\
    \ ANY WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING,\
    \ BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO SPECIFICATIONS,\
    \ ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,\
    \ OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL BE\
    \ ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF PROVIDED, WILL CONFORM TO\
    \ THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN ANY MANNER, CONSTITUTE AN\
    \ ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR RECIPIENT OF ANY RESULTS, RESULTING\
    \ DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR ANY OTHER APPLICATIONS RESULTING FROM\
    \ USE OF THE SUBJECT SOFTWARE. FURTHER, GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES\
    \ AND LIABILITIES REGARDING THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE,\
    \ AND DISTRIBUTES IT \"AS IS.\"\n\nB. Waiver and Indemnity: RECIPIENT AGREES TO\
    \ WAIVE ANY AND ALL CLAIMS AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS\
    \ AND SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE\
    \ SUBJECT SOFTWARE RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES\
    \ ARISING FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING\
    \ FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY AND\
    \ HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS,\
    \ AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY LAW. RECIPIENT''S\
    \ SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE, UNILATERAL TERMINATION\
    \ OF THIS AGREEMENT.\n"
  contact:
    name: "NASA Ames Research Center, Aviation Systems Division"
    url: "https://utm.arc.nasa.gov/"
    email: "joseph.rios@nasa.gov"
  license:
    name: "NASA Open Source Agreement"
    url: "https://ti.arc.nasa.gov/opensource/nosa/"
host: "uss.defined.url"
basePath: "/api"
schemes:
- "https"
- "wss"
paths:
  /alert_messages:
    post:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow other authorized entities to send a message to this USS."
      description: "Allows another USS or FIMS to POST a message to this USS."
      operationId: "postAlertMessage"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "The message being sent"
        required: true
        schema:
          $ref: "#/definitions/AlertMessage"
      responses:
        201:
          description: "Message data received."
  /inform_messages:
    post:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow other authorized entities to send a message to this USS."
      description: "Allows another USS or FIMS to POST a message to this USS."
      operationId: "postInformMessage"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "The message being sent"
        required: true
        schema:
          $ref: "#/definitions/InformMessage"
      responses:
        201:
          description: "Message data received."
  /intent_messages:
    post:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow other authorized entities to send a message to this USS."
      description: "Allows another USS or FIMS to POST a message to this USS."
      operationId: "postIntentMessage"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "The message being sent"
        required: true
        schema:
          $ref: "#/definitions/IntentMessage"
      responses:
        201:
          description: "Message data received."
  /uss:
    post:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow USS Discovery Service to send data"
      description: "As per the USS Discovery Service specification, this endpoint\
        \ is for receiving messages about the USS Network from the USS Discovery Service.\
        \  For example, when a new USS Instance is registered, that announcement would\
        \ come to this endpoint."
      operationId: "postUSSDiscoveryMessage"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "message"
        description: "The message being sent"
        required: true
        schema:
          $ref: "#/definitions/UssInstanceMessage"
      responses:
        201:
          description: "Message data received."
  /uss_health:
    get:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow stakeholders to obtain health status of this USS Instance"
      description: "A GET on this endpoint provides the requestor with a summary of\
        \ the USS health."
      operationId: "getUSSHealth"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "USS Instance health data"
        429:
          description: "Too many recent requests from you. Wait to make further queries."
  /operations:
    get:
      tags:
      - "A. Required REST endpoints"
      summary: "Request information regarding Operations"
      description: "Allows querying for Operation data."
      operationId: "getOps"
      produces:
      - "application/json"
      parameters:
      - name: "fields"
        in: "query"
        description: "The specific subset of fields to return. Comma separated list.\
          \ Default will be all fields when this parameter is not provided in the\
          \ query. Duplicate field names not allowed and server may reject query if\
          \ duplicates are provided. If field names are provided that are not part\
          \ of the request model, the server may either reject the query or ignore\
          \ the improper fields. Maximum 20 field values supported. If more than 20\
          \ fields are required, then this parameter should not be used so that all\
          \ fields are returned."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        maxItems: 20
        uniqueItems: true
      - name: "sort"
        in: "query"
        description: "A valid field name to use for sorting records. If multiple fields\
          \ are provided, the sorting is based on the ordered priorty of that list."
        required: false
        type: "string"
        default: "time_submitted"
      - name: "sort_increasing"
        in: "query"
        description: "For optional use with the 'sort' parameter. If 'sort' is not\
          \ provided, then 'sort_increasing' will be ignored. Boolean value.  If multiple\
          \ fields are provided in the 'sort' paramenter, this boolean value will\
          \ apply to all of them."
        required: false
        type: "boolean"
        default: true
      - name: "limit"
        in: "query"
        description: "The maximum number or records to return."
        required: false
        type: "integer"
        default: 10
        format: "int32"
      - name: "offset"
        in: "query"
        description: "The index from which to begin the list of returned records."
        required: false
        type: "integer"
        default: 0
        format: "int32"
      responses:
        200:
          description: "Successful data request. Response includes requested data."
          schema:
            $ref: "#/definitions/Operation"
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
        429:
          description: "Too many recent requests from you. Wait to make further queries."
    post:
      tags:
      - "A. Required REST endpoints"
      summary: "Allow other USSs to submit their UAS Operations."
      description: "A POST to the operations endpoint allows for sharing of operational\
        \ data between USSs.  This is the primary mechanism by which USSs become aware\
        \ of each others' UAS operations.<br/><br/>\nA USS is required to share operation\
        \ data with other USSs that may have interacting UAS Operations.  This potential\
        \ interaction is known through the data provided via the USS Service Discovery\
        \ mechanism (see https://app.swaggerhub.com/apis/utm/ussdiscovery/v2)."
      operationId: "postOp"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "operation"
        description: "The operation data"
        required: true
        schema:
          $ref: "#/definitions/Operation"
      responses:
        201:
          description: "Operation data received."
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
        429:
          description: "Too many recent requests from you. Wait to make further submissions."
    put:
      tags:
      - "A. Required REST endpoints"
      summary: "Submit updates to a previously communicated UAS Operation."
      description: "Allows for other USSs to update a previous plan submission."
      operationId: "putOp"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "operation"
        description: "Operational plan with the following properties:\n  1. Contains\
          \ a valid uss_operation_id.\n  2. time_available_end value that is in the\
          \ future.\n  3. No date-time fields that are in the past are modified.\n\
          \  4. Other rules for a USS Operation POST are satisfied.\n"
        required: true
        schema:
          $ref: "#/definitions/Operation"
      responses:
        200:
          description: "Successful data request. Response includes requested data."
          schema:
            $ref: "#/definitions/Operation"
        400:
          description: "Bad request. Typically validation error. Fix your request\
            \ and retry."
        429:
          description: "Too many recent requests from you. Wait to make further queries."
definitions:
  UssHealth:
    type: "object"
    properties:
      placeholder:
        type: "string"
  AlertMessage:
    type: "object"
    properties:
      a:
        type: "string"
    description: "An alert message."
  InformMessage:
    type: "object"
    properties:
      a:
        type: "string"
    description: "An inform message."
  IntentMessage:
    type: "object"
    properties:
      a:
        type: "string"
    description: "An intent message."
  UssInstanceMessage:
    type: "object"
    properties:
      a:
        type: "string"
    description: "A message."
  Operation:
    type: "object"
    required:
    - "controller_location"
    - "gufi"
    - "operation_volumes"
    - "primary_contact_name"
    - "primary_contact_phone"
    - "registration"
    properties:
      gufi:
        type: "string"
        format: "uuid"
        description: "Created and assigned by each USS (not FIMS). Validated as UUID\
          \ version 4 specification."
        minLength: 36
        maxLength: 36
      submit_time:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "Time the operation submission was received by USS."
        maxLength: 100
      decision_time:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "A timestamp set by the USS any time the state of the operation\
          \ is updated, for example when the flight goes from ACCEPTED to ACTIVATED"
        maxLength: 100
      aircraft_comments:
        type: "string"
        description: "Informative text about the aircraft. Not used by the UTM System.\
          \  Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      flight_comments:
        type: "string"
        description: "Informative text about the operation.  Not used by the UTM System.\
          \  Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      flight_geography_description:
        type: "string"
        description: "Informative text about the operational geography.  Not used\
          \ by the UTM System.  Only for human stakeholders."
        maxLength: 1000
        default: "NOT PROVIDED"
      registration:
        type: "string"
        description: "The registration ID of the vehicle flying this operation. This\
          \ registration value is provided to operators by a vehicle registrar. Validated\
          \ as a non-null string. Note UTM System assumes a single vehicle per operation."
        maxLength: 1000
      registration_source:
        type: "string"
        description: "See 'registration' field. This contains the source of the registration\
          \ ID."
        maxLength: 1000
        default: "NOT PROVIDED"
      flight_number:
        type: "string"
        description: "Optional. May be useful to the operator or USS for identification\
          \ purposes."
        maxLength: 100
      user_id:
        type: "string"
        description: "This field is populated based on the provided credentials."
      created_by:
        type: "string"
        description: "The user that created the operation."
        maxLength: 100
      primary_contact_name:
        type: "string"
        description: "Not currently checked for validity, but clients should endeavor\
          \ to provide useful, appropriate information in these fields. These values\
          \ should represent the contact that should be used in case of an issue with\
          \ the operation before, during, or after that operation."
        maxLength: 100
      primary_contact_phone:
        type: "string"
        format: "phone"
        maxLength: 100
      primary_contact_email:
        type: "string"
        format: "email"
        maxLength: 100
      extra_contact_info:
        type: "string"
        description: "Any additional contact information that may be useful (hours\
          \ of availability, fax number, communication limitations, etc.)."
        maxLength: 1000
        default: "NOT PROVIDED"
      state:
        type: "string"
        description: "The current state of the operation."
        minLength: 5
        maxLength: 13
        enum:
        - "ACCEPTED"
        - "ACTIVATED"
        - "CLOSED"
        - "NONCONFORMING"
        - "ROGUE"
      controller_location:
        $ref: "#/definitions/Point"
      gcs_location:
        $ref: "#/definitions/Point"
      faa_rule:
        type: "string"
        description: "PART_107: The operation follows FAA rule 107. If USS notifies\
          \ FIMS about this class of operations,\nFIMS will reply that authorization\
          \ is not required. (For TCL2nc FIMS will always accept the operation.)\n\
          \nPART_107X:  In general, operations are 107X if they are doing something\
          \ outside the 107 rule that would require\na waiver under 107.\n\nPART_101E:\
          \ This class of operations could be hobbyists being friendly with other\
          \ users by announcing their intent.\n(For TCL2nc, FIMS will reply with inform\
          \ message \"authorization not required\" and accept the operation. For TCL2nc\
          \ FIMS does not check\nwhether the operation is in a preauthorized area.)\
          \ In the future, a better response for 101E is\n\"Notification received\"\
          \ if within 5 statute miles of an airport, and \"Notification not required\"\
          \ if not within 5 miles.\n\nPart_TBD: Placeholder for future rule such as\
          \ those under test by UTM.\n"
        enum:
        - "PART_107"
        - "PART_107X"
        - "PART_101E"
        - "PART_TBD"
        default: "PART_107"
      waiver_certificate_number:
        type: "string"
        description: "If a waiver has been obtained for the Part 107 rules, then the\
          \ operator would have a waiver certificate number. For any operation submissions\
          \ with faa_rule=PART_107W, this field is required. (likely to be removed\
          \ in future)"
        maxLength: 100
        default: "NOT PROVIDED"
      priority_op:
        type: "boolean"
        description: "If true this operation is managed as a priority operation. Only\
          \ FIMS or a USS with the public safety role may set this field to true."
        default: false
      operation_volumes:
        type: "array"
        description: "The actual geographical information for the operation.  Maximum\
          \ array length of 12 currently allowed."
        items:
          $ref: "#/definitions/OperationVolume"
    example:
      gufi: "00000000-0000-4444-8888-000000000000"
      submit_time: "2016-10-04T09:15:40.727Z"
      decision_time: "2016-10-04T09:15:40.727Z"
      aircraft_comments: "Comments about the aircraft"
      flight_comments: "Comments about the flight"
      flight_geography_description: "A description of the geography"
      registration: "00000000-0000-4444-8888-000000000000"
      registration_detail: "src=federaldroneregistration.com,owner=acme"
      flight_number: "Flight number"
      user_id: "fimsUser"
      created_by: "fimsUser"
      primary_contact_name: "Jane Pilot"
      primary_contact_phone: "XXX-XXX-XXXX"
      primary_contact_email: "pilotjane@janepilot.com"
      extra_contact_info: "Fax: XXX-XXX-XXXX"
      state: "A"
      controller_location:
        type: "Point"
        coordinates:
        - -122.048589
        - 37.414869
      gcs_location:
        type: "Point"
        coordinates:
        - -122.048589
        - 37.414869
      operation_volumes:
      - ordinal: 1
        near_structure: false
        effective_time_begin: "2017-10-04T09:15:40.727Z"
        effective_time_end: "2017-10-04T09:25:40.727Z"
        actual_time_end: "2017-10-04T09:25:40.727Z"
        conformance_time_begin: "2017-10-04T09:14:40.727Z"
        conformance_time_end: "2017-10-04T09:26:40.727Z"
        min_altitude_wgs84_ft: 0.0
        max_altitude_wgs84_ft: 300.0
        conform_min_altitude_wgs84_ft: 0.0
        conform_max_altitude_wgs84_ft: 400.0
        flight_geography:
          type: "Polygon"
          coordinates:
          - - - -122.062176579
              - 37.40968041145
            - - -122.05187056889
              - 37.41786527236
            - - -122.03732647634
              - 37.41786440108
            - - -122.062176579
              - 37.40968041145
        conformance_geography:
          type: "Polygon"
          coordinates:
          - - - -122.06382530000002
              - 37.4090697
            - - -122.05094253233
              - 37.4193006277
            - - -122.03276206976
              - 37.41929920176
            - - -122.06382530000002
              - 37.4090697
        beyond_visual_line_of_sight: false
  Point:
    allOf:
    - $ref: "#/definitions/Geometry"
    - type: "object"
      properties:
        coordinates:
          type: "array"
          description: "Pair of longitude-latitude values. If a third element is provided\
            \ for altitude, it is silently ignored."
          items:
            type: "number"
            format: "double"
  OperationVolume:
    type: "object"
    required:
    - "beyond_visual_line_of_sight"
    - "effective_time_begin"
    - "effective_time_end"
    - "flight_geography"
    - "max_altitude_wgs84_ft"
    - "min_altitude_wgs84_ft"
    - "ordinal"
    properties:
      ordinal:
        type: "integer"
        description: "This integer represents the ordering of the operation volume\
          \ within the set of operation volumes. Need not be consecutive integers."
      near_structure:
        type: "boolean"
        description: "Is this operation volume within 400' of a structure?"
        default: false
      effective_time_begin:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "Earliest time the operation will use the operation volume."
      effective_time_end:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "Latest time the operation will done with the operation volume.\
          \ It must be greater than effective_time_begin."
      actual_time_end:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "Time that the operational volume was freed for use by other\
          \ operations."
      conformance_time_begin:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "LIKELY TO BE DEPRECATED. Assigned by FIMS.  Time buffer before\
          \ the submitted begin time."
        maxLength: 100
      conformance_time_end:
        type: "string"
        format: "date-time ending in Z.Eg 2016-04-12T12:35:25Z or 2016-04-12T12:35:25.123Z"
        description: "LIKELY TO BE DEPRECATED. Assigned by FIMS.  Time buffer after\
          \ the submitted end time."
        maxLength: 100
      min_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "The minimum altitude for this operation in this operation volume.\
          \ In WGS84 reference system using feet as units."
      max_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "The maximum altitude for this operation in this operation volume.\
          \ In WGS84 reference system using feet as units."
      conform_min_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "LIKELY TO BE DEPRECATED. The minimum altitude assigned and used\
          \ by the UTM System to check vertical conformance of an operation. Based\
          \ on operator-provided min altitude."
      conform_max_altitude_wgs84_ft:
        type: "number"
        format: "double"
        description: "LIKELY TO BE DEPRECATED. The maximum altitude assigned and used\
          \ by the UTM System to check vertical conformance of an operation. Based\
          \ on operator-provided max altitude."
      flight_geography:
        $ref: "#/definitions/Geometry"
      conformance_geography:
        $ref: "#/definitions/Geometry"
      beyond_visual_line_of_sight:
        type: "boolean"
        description: "Describes whether the operation volume is beyond the visual\
          \ line of sight of the operator."
  Geometry:
    type: "object"
    required:
    - "type"
    discriminator: "type"
    properties:
      type:
        type: "string"
    description: "A geometry object in two dimensional space. For Geometry property\
      \ of a Position, Geometry type must be Point. For a Geometry property of an\
      \ OperationVolume or Constraint, Geometry type must be LineString or Polygon.\
      \ For location properties such as Operation's gcs_location and controller_location,\
      \ Geometry type must be Point."
