swagger: '2.0'
info:
  description: >-
    This API describes the minimum interface that a USS must implement to  be
    part of the USS Network.  This API allows for communication of data  between
    USS Instances and from FIMS to a USS regarding new USS Instances.
  version: v4
  title: USS Required API
  termsOfService: >

    A. No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY
    WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING,
    BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL CONFORM TO
    SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, OR FREEDOM FROM INFRINGEMENT, ANY WARRANTY THAT THE
    SUBJECT SOFTWARE WILL BE ERROR FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF
    PROVIDED, WILL CONFORM TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN
    ANY MANNER, CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR
    RECIPIENT OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR
    ANY OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE. FURTHER,
    GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES REGARDING
    THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE, AND DISTRIBUTES
    IT "AS IS."


    B. Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS
    AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS
    WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT''S USE OF THE SUBJECT SOFTWARE
    RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES, EXPENSES OR LOSSES ARISING
    FROM SUCH USE, INCLUDING ANY DAMAGES FROM PRODUCTS BASED ON, OR RESULTING
    FROM, RECIPIENT''S USE OF THE SUBJECT SOFTWARE, RECIPIENT SHALL INDEMNIFY
    AND HOLD HARMLESS THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND
    SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY
    LAW. RECIPIENT''S SOLE REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE,
    UNILATERAL TERMINATION OF THIS AGREEMENT.
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    url: 'https://utm.arc.nasa.gov/'
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'

host: uss.defined.url
basePath: /
schemes:
  - https
securityDefinitions:
  ussapi_security:
    type: oauth2
    description: A write scope allows reading.
    tokenUrl: 'https://utm.defined.host/oauth/token'
    flow: application
    scopes:
      'utm.nasa.gov_read.operation': Subject can read operational data such as USS Instance data
      'utm.nasa.gov_write.operation': Subject can read, create, and update operational data such as USS Instance data
      'utm.nasa.gov_read.message': Subject can read message data such as UTM Message and Negotiations
      'utm.nasa.gov_write.message': Subject can read, create, and update message data such as UTM Message and Negotiations
      'utm.nasa.gov_read.publicsafety': Subject can read operations that are designated public safety operations.
      'utm.nasa.gov_write.publicsafety': Subject can read, create, and update operations that are designated public safety operations.
      'utm.nasa.gov_read.constraint': Subject can read UTM constraint data
      'utm.nasa.gov_write.constraint': Subject can read, create, and update UTM constraint data. This means that the Subject can define areas that restrict other operations.
      'utm.nasa.gov_read.conflictmanagement':  Subject can read conflict management data.
      'utm.nasa.gov_write.conflictmanagement':  Subject can read and write conflict management data.
paths:
  '/uvrs/{message_id}':
    put:
      tags:
        - A. Required Endpoints
      summary: Allow UAS Volume Reservations (UVRs) to be submitted from authorized entities.
      description: >-
        Allow UAS Volume Reservations (UVRs) to be submitted from authorized entities.
        For validation purposes:
          {message_id} in path == UASVolumeReservation.message_id of body data
      security:
        - ussapi_security:
            - utm.nasa.gov_write.constraint
      consumes:
        - application/json
      parameters:
        - in: path
          name: message_id
          required: true
          type: string
          description: PUT by message_id
        - in: body
          name: constraint_message
          description: The UASVolumeReservation being sent
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UASVolumeReservation
      responses:
        '204':
          description: UVR data received. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse


  '/utm_messages/{message_id}':
    put:
      tags:
        - A. Required Endpoints
      summary: Allow other authorized entities to send a message to this USS.
      description: >-
        Allows another USS or FIMS to PUT a message to this USS.
        For validation purposes:
          {message_id} in path == UTMMessage.message_id of body data
      security:
        - ussapi_security:
            - utm.nasa.gov_write.message
      consumes:
        - application/json
      parameters:
        - in: path
          name: message_id
          required: true
          type: string
          description: PUT by message_id
        - in: body
          name: utm_message
          description: The UTMMessage being sent
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMMessage
      responses:
        '204':
          description: UTMMessage received. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  '/uss/{uss_instance_id}':
    put:
      tags:
        - A. Required Endpoints
      summary: Share USS Instance data
      description: >-
        As per the USS Discovery Service specification, this endpoint is for
        receiving messages about the USS Network from the USS Discovery
        Service.  For example, when a new USS Instance is registered, that
        announcement would come to this endpoint.

        For validation purposes:
          {uss_instance_id} in path == UssInstance.uss_instance_id of body data
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
      consumes:
        - application/json
      parameters:
        - in: path
          name: uss_instance_id
          required: true
          type: string
          description: PUT by uss_instance_id
        - in: body
          name: uss_instance
          description: The USS Instance information being sent
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UssInstance
      responses:
        '204':
          description: USS Instance data received. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  '/negotiations/{message_id}':
    put:
      tags:
        - A. Required Endpoints
      summary: Allow other USSs to submit a negotiation request
      description: >-
        A PUT to the negotiations endpoint is interpreted as a request for
        alteration in an existing operation managed by the receiving USS.  The
        requesting USS supplies a GUFI that references the operation that may be
        altered if the request is granted by the receiving USS.

        For validation purposes:
          {message_id} in path == NegotiationMessage.message_id in body data
      security:
        - ussapi_security:
            - utm.nasa.gov_write.message
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: message_id
          required: true
          type: string
          description: PUT by message_id
        - in: body
          name: negotiation_message
          description: The NegotiationMessage data
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/NegotiationMessage
      responses:
        '204':
          description: >-
            NegotiationMessage received. No content returned. USS receiving this
            NegotiationMessage will move to accommodate the new operation.
        '400':
          description: Bad request. Typically validation error.  Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '409':
          description: Conflicting operation will not accommodate new operation.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  '/positions/{position_id}':
    put:
      tags:
        - A. Required Endpoints
      summary: Share position information.
      description: >-
        Providing position reports to others may allow other USSs to anticipate
        events.  The USS managing the operation has created the position ID.

        For validation purposes:
          {position_id} in path == Position.enroute_positions_id of body data
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: position_id
          required: true
          type: string
          description: PUT by enroute_positions_id
        - in: body
          name: position
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Position
      responses:
        '204':
          description: Position data recieved. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
  /operations:
    get:
      tags:
        - A. Required Endpoints
      summary: Request information regarding Operations
      description: Allows querying for Operation data. Returns an empty list if the query returns nothing.
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
            - utm.nasa.gov_read.operation
      produces:
        - application/json
      parameters:
        - name: registration_id
          in: query
          description: >-
            Return only results that match the registration_ids provided.  Only
            operations that have not completed or have completed within the last
            24 hours are required to be returned. If multiple IDs are provided,
            they must be unique and separated by commas.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            format: uuid
            minLength: 36
            maxLength: 36
          collectionFormat: csv
        - name: submit_time
          in: query
          description: >-
            A single date-time value that will be used to provide all operations
            submitted AFTER that time.
          type: string
          format: date-time
          minLength: 20
          maxLength: 25
          required: false
        - name: state
          in: query
          description: >-
            Return only operations that are in the states provided.  Comma
            separated list of states.
          type: array
          minItems: 1
          maxItems: 5
          uniqueItems: true
          items:
            type: string
            enum:
              - ACCEPTED
              - ACTIVATED
              - CLOSED
              - NONCONFORMING
              - ROGUE
          collectionFormat: csv
          required: false
        - name: distance
          in: query
          description: >-
            Distance from reference_point to find operations. Ignored if
            reference_point is not provided.  Units are feet.  Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  Default value only has meaning when
            reference_point parameter is provided.
          type: integer
          format: int32
          maximum: 60762
          minimum: 1
          default: 300
          required: false
        - name: reference_point
          in: query
          description: >-
            A single point used to find all operations within some distance from
            that point. Returns all
            operations that have any operation_volumes whose 2D horizontal
            dimensions interesect the 2D circle defined by distance and
            reference_point.  When distance is excluded and reference_point is
            included, uses default value (300ft) for distance.
            Described as a GeoJSON position.  The value is equivalent to what
            would be seen in the "coordinates" field for a GeoJSON Point
            object.  See https://tools.ietf.org/html/rfc7946#section-3.1.1 for
            further reference.  Example would be reference_point=[-122.056364,
            37.414371] (URL safe:
            reference_point%3D%5B-122.056364%2C%2037.414371%5D). As per GeoJSON
            spec, this is long-lat format in the WGS84 reference system.
            MUST NOT include a third coordinate element, strictly 2D.
          type: string
          format: geojson-position
          required: false
        - name: sort
          in: query
          description: >-
            Field name(s) to use for sorting records. If multiple fields
            are provided, the sorting is based on the ordered priorty of that
            list.  Note that the enum provided designates the required fields
            that a USS must support. A USS may decide to support additional
            fields, but how that USS communicates that option is out of scope
            for this API document.
          required: false
          type: array
          items:
            type: string
            enum:
              - submit_time
              - gufi
              - state
          collectionFormat: csv
          maxItems: 3
          minItems: 1
          default: submit_time
        - name: sort_increasing
          in: query
          description: >-
            For optional use with the 'sort' parameter. If 'sort' is not
            provided, then 'sort_increasing' will be ignored. Boolean value.  If
            multiple fields are provided in the 'sort' parameter, this boolean
            value will apply to all of them.
          required: false
          type: boolean
          default: true
        - name: limit
          in: query
          description: The maximum number or records to return.
          required: false
          type: integer
          default: 10
          maximum: 100
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
        - name: offset
          in: query
          description: The index from which to begin the list of returned records.
          required: false
          type: integer
          default: 0
          minimum: 0
          exclusiveMinimum: false
          format: int32
      responses:
        '200':
          description: Successful data request. Response includes requested data.
          schema:
            type: array
            items:
              $ref: >-
                https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  '/operations/{gufi}':
    get:
      tags:
        - A. Required Endpoints
      summary: Retrieve an operation by GUFI.
      description: Retrieve an operation by GUFI.  Returns 404 if gufi is not found.
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
            - utm.nasa.gov_read.operation
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          format: uuid
          description: >-
            GUFI of the operation being requested.
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '404':
          description: Resource not found.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

    put:
      tags:
        - A. Required Endpoints
      summary: 'Announce a new, or update an already announced operation.'
      description: >-
        Announce an Operation to another USS, either initial Operation or an
        update to the Operation. The Operation's owner creates the ID.
      security:
        - ussapi_security:
            - utm.nasa.gov_write.operation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          description: PUT operation by gufi
        - in: body
          name: operation
          description: |
            Operational plan with the following properties:
              1. Contains a valid uss_operation_id.
              2. time_available_end value that is in the future.
              3. For an update to an Operation, date-time fields that are in the past MUST NOT be modified.
              4. On the first announcement of an Operation, submit_time SHOULD be equal to update_time.
              5. submit_time MUST be less than or equal to update_time.
              5. {gufi} path parameter MUST equal Operation.gufi of the body data
              6. Operation.uss_id == access_token.sub
              7. Operation.priority_elements.status MUST NOT be PUBLIC_SAFETY.
              8. Other rules for a USS Operation PUT are satisfied.

          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        '204':
          description: Operation data received. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '409':
          description: >-
            Conflict. This USS has an Operation that intersects.
            'messages' field in UTMRestResponse will contain list of GUFIs of length
            at least 1 indicating the conflicting Operation(s).
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse

  '/enhanced/operations/{gufi}':
    get:
      tags:
        - A. Required Endpoints
      summary: Retrieve an operation by GUFI, including details relevant to safety and security.
      description: >-
        Retrieve an operation by GUFI.  Returns 404 if gufi is not found.
        Similar to '/operations/{gufi}' except
        all data tagged x-utm-data-accessibility <= SAFETY is returned.

        Note that there is currently no GET on '/enhanced/operations/' without
        specifying a GUFI.  If general seraching for operations is required, then
        a GET on '/operations' may be performed, followed by individual GETs to
        this endpoint for enhanced data access.

      security:
        - ussapi_security:
            - utm.nasa.gov_read.publicsafety
            - utm.nasa.gov_write.publicsafety
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          format: uuid
          description: >-
            GUFI of the operation being requested.
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Do not retry with same access token. Reason not provided, but do you have the right scopes?
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '404':
          description: Resource not found.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '423':
          description: The requested data are in a transition state. Please retry request.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
    put:
      tags:
        - A. Required Endpoints
      summary: 'Announce a new, or update an already announced ENHANCED operation.'
      description: >-
        Announce an Operation to another USS, either initial Operation or an
        update to the Operation. The Operation's owner creates the ID.

        This is the ENHANCED version of the nominal /operations/{gufi} endpoint.
        A USS receiving an operation on this endpoint MUST validate that PriorityElements.status == PUBLIC_SAFETY with an appropriate severity.

        In the future there may be several use cases for the this endpoint.
        Currently a single use case is required to be supported by USSs.

        ## Writing a public safety operation

        Public safety operations can only be operated by authorized agencies.  The
        identitiy management of those agencies and individuals within them will
        have more requirements than are levied on nominal USSs.  Thus the ability
        to manage those operations is limited to USSs that undergo additional
        checkout processes.  Successful completion of those processes allows for
        a USS to earn an additional Role (USS_PUBLIC_SAFETY) within UTM managing
        public safety ops.

        This role provides access to additional scopes, including utm.nasa.gov_write.publicsafety
        which is required to write to this endpoint.

        A public safety operation that ceases to be a public safety operation
        should CLOSE the operation as announced on this endpoint after creating
        a non-public safety operation on the nominal endpoint.  Note this means
        that the operation would be already be in the air when becoming a "new"
        nominal operation.  In addition, there will be a period of time during
        which this operation will have 2 GUFIs and 2 plans. The USS should aid
        the operator in minimizing this period of time (ideally to less than, say,
        10 seconds).  This approach ensures that all operations announced on this
        PUT endpoint have the same PriorityElement requirements.

        A nominal operation that becomes a public safety operation should
        follow a similar procedure as above.  CLOSE the nominal operation after
        announcing a new public safety operation on this endpoint.

      security:
        - ussapi_security:
            - utm.nasa.gov_write.publicsafety
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: gufi
          required: true
          type: string
          description: PUT operation by gufi
        - in: body
          name: operation
          description: |
            Operational plan with the following properties:
              1. All requirements for the non-enhanced PUT Operation endpoint, as stated in this spec.
              2. Operation.priority_elements.status == PUBLIC_SAFETY and its corresponding severity.
          required: true
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/Operation
      responses:
        '204':
          description: Operation data received. No content returned.
        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '409':
          description: >-
            Conflict. This USS Instance has an Operation that intersects.
            'Resource' field in UTMRestResponse will contain list of GUFIs of length
            at least 1 indicating the conflicting Operation(s).
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/utm-apis/v4-draft/utm-domains/utm-domain-commons.yaml#/definitions/UTMRestResponse
